/* 

CHANGE COLOR STYLE

*/

body, .dark-menu{color:#555; background-color:#fff;}
a, a:visited, a.colortext, a.colortext:visited, .colortext a, .colortext a:visited{color:#333;}
a:hover, a.colortext:hover, .colortext a:hover, .colortext{color:#F0C401;}
h1, h2, h3, h4, h5, h6{color:#333;}
blockquote{color:#333;}

#loadingbar{background-color:#F0C401;}

.light-menu{color:#fff;}
section.light-menu{color:#fff; background-color:#1a1a1a;}
section.light-menu a, section.light-menu a:visited{color:#fff;}
section.light-menu a.colortext, section.light-menu a.colortext:visited, section.light-menu .colortext{color:#F0C401;}
section.light-menu .colortext a, section.light-menu .colortext a:visited{color:#F0C401;}
section.light-menu a:hover, section.light-menu a.colortext:hover, section.light-menu .colortext a:hover{color:#fff;}

section.light-menu h1, section.light-menu h2, section.light-menu h3, section.light-menu h4, section.light-menu h5, section.light-menu h6{color:#fff;}
section.light-menu blockquote{color:#fff;}

.white{color:#fff !important;}
.black{color:#000 !important;}
.grey{color:#555555 !important;}
.white:hover, .black:hover, .grey:hover{color:#F0C401 !important;}

.borderbottom{border-bottom:1px solid #e4e4e4;}

hr{
	border:solid 1px #e4e4e4;
	border-width:0 0 1px 0;
}

input[type="text"], input[type="email"],
textarea, input[type="password"], select{
	background-color:#fff;
	background-color:rgba(255,255,255,0.15);
	/*color:#555;*/
	color:#efefef;
	border:solid 1px #ededed;
}


.button, a.more-link,
.button:visited,
input[type="submit"],
input[type="reset"], button{
	color:#333;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%,#f5f5f5 100%); /* W3C */
	border-color:#d1d1d1;
}

.button:hover, a.more-link:hover,
input[type="submit"]:hover,
input[type="reset"]:hover, button:hover{
	color:#fff;
	background: #333;
	border-color:#333;
}

section.light-menu .button, section.light-menu a.more-link, section.light-menu .button:visited, section.light-menu input[type="submit"], section.light-menu input[type="reset"], section.light-menu button{
	color:#fff;
	background:none;
}

section.light-menu .button:hover, section.light-menu a.more-link:hover, section.light-menu input[type="submit"]:hover, section.light-menu input[type="reset"]:hover, section.light-menu button:hover{
	color:#333;
	background: #F0C401;
	border-color:#F0C401;
}

.button.color2, section.light-menu .button.color2{ background:#F0C401; border-color:#F0C401; color:#333;}
.button.color2:hover, section.light-menu .button.color2:hover{background:#555; border-color:#555; color:#fff;}
.button.color3, section.light-menu .button.color3{ background:#2a3a43; border-color:#2a3a43;}
.button.color3:hover, section.light-menu .button.color3:hover{ background:#232f36; border-color:#232f36;}



/*====== CONTAINER ======*/
#subbody{background:#fff;}

.breadcrumb, .breadcrumb a, .breadcrumb a:visited{color:#ffffff;}
/*====== TOP MENU ======*/
#outerheader{background-color:transparent; border-bottom:1px solid transparent;}
#outerheader.sticky{background-color:#fff; border-bottom:1px solid #f0f0f0;}
.topnav a{color:#555;}
.light-menu .topnav a{color:#fff;}
.sticky .topnav a{color:#555;}
.topnav li a:hover,
.topnav .current_page_item > a, .topnav  .current_page_item > a:hover,
.topnav .current_page_parent > a, .topnav .current_page_parent > a:hover,
.topnav .current-menu-parent > a, .topnav .current-menu-parent > a:hover,
.topnav .current-menu-item > a, .topnav .current-menu-item > a:hover
{color:#F0C401;}

.sf-menu li:hover ul, .sf-menu li.sfHover ul, .sf-menu li ul {border:3px solid #F0C401; background-color:#212121;}
.sf-menu li li { border-bottom:1px solid #1B1B1B;}
.sf-menu > li:before{color:#F0C401;}

ul.topnav li li a{color:#fff;}
.sticky ul.topnav li li a{color:#d0d0d0;}
.topnav li li a:hover,
.topnav li .current_page_item > a, .topnav li .current_page_item > a:hover,
.topnav li .current_page_parent > a, .topnav li .current_page_parent > a:hover,
.topnav li .current-menu-parent > a, .topnav li .current-menu-parent > a:hover,
.topnav li .current-menu-item > a, .topnav li .current-menu-item > a:hover
{color:#F0C401 !important;}

/*====== SLIDER ======*/
#preloaderslider h2{color:#555555;}
.flex-control-nav li a {background:#e1e1e1;}
.flex-control-nav li a:hover {background:#929191}
.flex-control-nav li a.active {background:#929191}
#subbody .nvrtrotating .flex-direction-nav a{color:#555; border:2px solid #555;}
#subbody .flex-direction-nav a, .light-menu #subbody .nvrtrotating .flex-direction-nav a{color:#fff; border:2px solid #fff;}
#subbody .flex-direction-nav a:hover{color:#F0C401;}
.section.slider .flex-control-paging li a.flex-active {background: #F0C401Ft;}
.section.slider .caption-content h4{color:#fff;}
.section.slider .caption-content h2{color:#ffffff; border:5px solid #fff;}
.section.slider div.borderslider{background-color:#fff;}
.section.slider a.sliderbutton{
	color:#ffffff;
	border-color:#ffffff;
}
.flex-caption, .flex-caption a, .flex-caption a:visited{color:#fff;}
/*====== AFTER HEADER ======*/
.nvr-breadcrumb{color:#fff;}
.nvr-breadcrumb a, .nvr-breadcrumb a:visited{color:#d7d7d7;}
.nvr-breadcrumb a:hover{color:#fff;}
.light-menu #afterheader .pagetitle{color:#fff;}
.bordertitle .borderleft, .bordertitle .borderright{background-color:#F0C401;}
.bordertitle .bordericon{color:#F0C401;}
.light-menu #afterheader .pagedesc{color:#fff;}

/*====== CONTENT ======*/

/* Tables */
th{background:#FFF; border-bottom: 1px solid #FFF; color:#000;}
table {border: 1px solid #eaeaea;}
tr td {border-bottom: 1px solid #f4f4f4;}
tr.even td {background: #fafafa;}


/* Highlight */
.highlight1{background:#e6e8e8;color:#000; border:solid 1px #ccc}	
.highlight2{background:#F0C401;color:#fff;}

/* Icon Container */
.icn-container{
	border-color:#F0C401;
	color:#F0C401;
	background-color:transparent;
}
.icn-container.type2{
	border-color:#F0C401;
	color:#333333;
	background-color:#F0C401;
}
.icn-container.type3{
	border-color:transparent;
	color:#F0C401;
	background-color:transparent;
}

/* Dropcaps */
.dropcap1{text-shadow:1px 1px 0 #666;}
.dropcap2, .dropcap3{color:#fff;background:#333;}

/* Separator */
.separator.line div{
	border-color:#e4e4e4;
	-moz-box-shadow: 0 1px 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px 0 #fff;
	box-shadow: 0 1px 1px 0 #fff;
}

/* Tabs */
ul.tabs{border-left:1px solid #dcdcdc;}
ul.tabs li {
	background: #f7f7f7;
	border-color:#dcdcdc;
}
ul.tabs li:hover{border-color:#10a88a;}
ul.tabs li a {color: #363636;}
ul.tabs	 li.active{border-color:#E6DA00;}
html ul.tabs li.active, html ul.tabs li.active a:hover, ul.tabs li a:hover{background: #F0C401; color:#fff;}
html ul.tabs li.active a{ color:#fff; }

/* jQuery Toggle */
h2.trigger {border-bottom: 1px solid #e4e4e4;}
h2.trigger span {
	color:#555;
}
h2.active{}
h2.trigger a:hover {
	color: #454545;
}
.toggle_container {
	 border-color:#ebebeb;
}

/* Content Title */
.contenttitle span{background:#fff;}

/* testimonial */
.nvr-testimonial blockquote{border:1px solid #eaeaea; background-color:#fff;}
.nvr-testimonial .testiimg img{background-color:#fff; border:1px solid #eaeaea;}

/* portfolio */
.nvr-pf-img div.rollover, div.frameimg div.rollover{background-color:#F0C401;}
.nvr-pf-img a.image, div.frameimg a.image{ border:2px solid #212121; background-color:#212121;}
.nvr-pf-img a .rollover, div.frameimg a .rollover{background-color:#0b8c73;}
.nvr-pf-img .nvr-pf-title{background-color:#ffffff;}
.nvr-pf-text .nvr-pf-content{color:#999999;}
.nvr-pf-box:hover .nvr-pf-text .nvr-pf-title a{color:#F0C401 !important;}

.nvr-pf-container .grid .nvr-pf-text{background-color:#212121;}
.nvr-pf-text .nvr-pf-cat a, .nvr-pf-text .nvr-pf-cat a:visited{color:#777777;}
.nvr-pf-text .nvr-pf-cat a:hover{color:#F0C401;}

.nvr-pf-container .masonry .nvr-pf-box .nvr-pf-text h2 a, .nvr-pf-container .masonry .nvr-pf-cat, .nvr-pf-container .masonry .nvr-pf-cat a{color:#fff !important;}
.nvr-pf-container .grid .nvr-pf-box .nvr-pf-text h2 a, .nvr-pf-container .grid .nvr-pf-cat, .nvr-pf-container .grid .nvr-pf-cat a{color:#fff !important;}
.nvr-pf-container .grid .nvr-pf-box .nvr-pf-text h2 a:hover, .nvr-pf-container .grid .nvr-pf-cat a:hover{color:#F0C401 !important;}

/* portfolio filter */
#filters{border-color:#e4e4e4;}
#filters li{
	border-color:transparent;
}
#filters li:hover, #filters li.selected{
	border-color:#F0C401;
}
#filters li:hover a, #filters li.selected a{
	color:#F0C401;
}

/* portfolio ajax */
#portfoliocontent{color:#555;}

/* recent post shortcode */
.rp-shortcode h3 a{color:#252525;}
.rp-shortcode h3 a:hover{color:#F0C401;}

/* archive list */
.archives_list li a{color:#555;}
.archives_list li a:hover{color:#F0C401;}

/*images*/
.frameimg{
	border-color:#e4e4e4;
}

/* Meter */
div.meter{
	background-color:#404040;
}
div.meter div{
	background-color:#F0C401;
	color:#fff;
}

/* Brand Carousel */
.brand{border-color:#fff; border-color:rgba(255,255,255,0.2);}

/*portfolio carousel*/
.flexslider-carousel h3, .flexslider-carousel h3 a, .flexslider-carousel h3 a:visited{color:#333;}
.flexslider-carousel h3 a:hover{color:#F0C401;}
.flexslider-carousel .nvr-pf-box .nvr-pf-text .nvr-pf-title a, .flexslider-carousel .nvr-pf-cat, .flexslider-carousel .nvr-pf-cat a{color:#fff !important;}
.flexslider-carousel .nvr-pf-text{color:#555;}
.pcarousel .titlecontainer{border-color:#e4e4e4;}
.pcarousel .contenttitle{}
.pcarousel .pc-content{}

/* Testimonial360 */
.nvr-trotating .testiimg img{background-color:#fff; border:1px solid #eaeaea;}
.nvr-trotating .flex-control-paging li a.flex-active {background: #F0C401;}

/* Heading */
.nvr-heading.white *{color:#fff !important;}
.nvr-heading.white .hborder{background-color:#F0C401 !important;}
.nvr-heading .hborder{background-color:#e4e4e4;}

/* People */
.nvr-people .peopletitle{
}
.nvr-people li:hover .peopletitle h5, .nvr-people li:hover .peopletitle .peopleinfo{color:#fff;}
.nvr-people .peoplecontainer{background-color:transparent;}
.nvr-people li:hover .peoplecontainer{background-color:#212121;}
.nvr-people li:hover .imgcontainer{background-color:#F0C401;}
.nvr-people .hborder{background-color:#c1c1c1;}
.nvr-people li:hover .hborder{background-color:#fff;}
.nvr-people li:hover .peoplecontent{color:#e1e1e1;}
.nvr-people .peoplesocial a{background-color:#212121;color:#fff;}
.nvr-people .peoplesocial a:hover{color:#F0C401;}

/* Mini Sliders */
.minisliders .titlecontainer{border-color:#e4e4e4;}
/*====== SIDEBAR AND WIDGET ======*/
#sidebar .widget-area{}
#sidebar .widget-title span{color:#333;}
#sidebar{color:#555;}
#sidebar li li{border-bottom-color:#e5e5e5;}
#sidebar li li a{color:#333;}
#sidebar li li a:hover, #sidebar li li a.active{color:#F0C401;}
#sidebar .nvr-latest-post-widget li img{border-color:#e4e4e4;}
#sidebar .nvr-latest-post-widget li .smalldate{color:#888;}
#searchform #s{color:#555; border:solid 1px #ededed}
#flickr img{border-color:#2b2b2b !important; background-color:#ffffff;}

/* tag widget */
#tag-cloud .tag{background-color:#2f2f2f;}
#tag-cloud .tag:hover{background-color:#3C3C3C;}
#tag-cloud .tag a{color:#fff;}
#tag-cloud .tag a:hover{color:#fff;}


/*====== BLOG ======*/
article.content-loop{background-color:#fff;}
.posttitle{}
.posttitle, .posttitle a, .posttitle a:visited{color:#555;}
.posttitle a:hover{color:#F0C401;}
.postscontainer .entry-icon{border-color:#2c2c2c;}

.entry-utility{color:#eaeaea;}
.entry-utility span{color:#333;}
.entry-utility i{color:#aaaaaa;}
.entry-utility a, .entry-utility a:visited{color:#333;}
.entry-utility span{}
.entry-utility2{background:#fff; color:#888;}
.entry-utility2 a{color:#333;}
.entry-utility2 a:hover{color:#F0C401;}
.entry-utility .nav-next{border-color:#e4e4e4;}

article.format-quote blockquote{background-color:#fff;}
article.format-quote .entry-content{background-color:#f3f3f3;}
article.format-aside .entry-content{background-color:#f3f3f3;}
article.format-link .entry-content{background-color:#f3f3f3;}
article.format-link .entry-content a, article.format-link .entry-content a:visited{color:#333333;}

.entry-utility .more-link.btn{color:#333;}
.entry-utility .more-link.btn:hover{color:#2c2c2c;}

.articlewrapper .entry-content, #singlepost{color:#555;}

.nav-previous a, .nav-previous a:visited, .nav-next a, .nav-next a:visited{border-color:#e4e4e4 !important;background:#ffffff; color:#5d5d5d;}
.nav-previous a:hover, .nav-next a:hover{color:#F0C401;	border-color:#F0C401 !important;}

#entry-author-info{border:solid 1px #f0f0f0; background-color:#f9f9f9;}
.con-comment{ border-color:#eaeaea;}
.commentlist .comment-body .reply{background-color:#F0C401;}
.commentlist .comment-body .reply:hover{background-color:#333;}
.commentlist .comment-body .reply a{color:#fff;}
.commentlist .comment-body .reply a:visited, .comment-body .time a, .comment-body .time a:visited{}
.comment-body .fn a, .comment-body .fn a:visited{}
.commentlist .comment-author{
	border-color:#e4e4e4;
}

/*====== WP PAGENAVI ======*/
.wp-pagenavi a, .wp-pagenavi a:visited{
	border-color:#e4e4e4 !important;
	background:none;
	color:#777;
}

.wp-pagenavi a:hover{
	color:#fff;
	background-color:#434343;
	border-color:#434343 !important;
}
.wp-pagenavi span.current{
	color:#fff;
	background:#434343;
	border-color:#434343 !important;
}
/*====== FOOTER SIDEBAR ======*/
#footerwrapper{color:#b7b7b7; background-color:#252525;}
.nvrflippage #footerwrapper #togglefoterwrapper{
	background-color:#F0C401;
	color:#fff;
}
#outerfootersidebar{background-color:transparent;}
#footersidebar{color:#ffffff;}
#footersidebar li a, #footersidebar li a:visited{color:#fff;}
#footersidebar li a:hover{color:#a1a1a1;}

#footersidebar .widget-title{color:#fff;}
#footersidebar h1, #footersidebar h2, #footersidebar h3, #footersidebar h4, #footersidebar h5, #footersidebar h6{color:#cccccc;}

#footersidebar .borderbottom{border-bottom:1px solid #393939;}

#footersidebar .nvr-latest-post-widget li{border-bottom:1px solid #393939;}
#footersidebar .nvr-latest-post-widget li img{background-color:transparent;}
#footersidebar .nvr-latest-post-widget li .smalldate{color:#a1a1a1;}


/*====== FOOTER ======*/
#outerfooter{background-color:#171717;}
#footer{color:#d6d6d6;}
#footer a, #footer a:visited{color:#F0C401;}
#footer a:hover{text-decoration:underline;}

#footer .sn a {
border: 1px solid #eeeeee;
color: #eeeeee;
}
#footer .sn a:hover {
border: 1px solid #fff;
background-color:#fff;
color: #171717;
}

/*======= CUSTOM =======*/
.borderbold{border:6px solid #139CF6;}

.hostingtable{border:1px solid #d1d1d1;}
.hostingtable:hover{background-color:#1f1f1f; border:1px solid #1f1f1f;}
.hostingtable:hover .hostingtitle h4{color:#fff;}
.hostingicon i{background-color:#F0C401; color:#000;}
.hostingtable:hover .hostingprice{color:#d7d7d7;}
.hostingtable:hover .hostingcontent{color:#e1e1e1;}
.hostingtable:hover .button{background:#F0C401; border-color:#F0C401;}
.hostingborder{background-color:#c1c1c1;}
.headlinebox{background-color:#f0f1f3; border:1px solid #e3e3e3;}

.nvr.vc_text_separator {
	border-bottom: 1px solid #d3d3d3;
}
.nvr.vc_text_separator div {
	background-color: #ffffff;
	color:#555555;
	border:1px solid #d3d3d3;
}

#megaMenu li.menu-item.ss-nav-menu-mega ul.sub-menu.sub-menu-1, #megaMenu li.menu-item.ss-nav-menu-reg ul.sub-menu.sub-menu-1{
	border-width:3px 0px 0px 0px;
	border-style:solid;
	border-color:#F0C401;
	background-color:#fff;
}
#megaMenu.megaMenu-withjs ul li.menu-item.ss-nav-menu-reg ul.sub-menu > li.menu-item > ul.sub-menu{
	border-width:3px 0px 0px 0px;
	border-style:solid;
	border-color:#F0C401;
	background-color:#fff;
}