@charset "utf-8";
body{font-family: 'Merriweather', serif !important;}
#outerafterheader{background-repeat:no-repeat; background-position:center; background-color:;}
.topnav li a, .topnav li a:visited{font-family:'Montserrat', sans-serif !important;}
h1, h2, h3, h4, h5, h6{font-family:'Montserrat', sans-serif !important;}
.bigtext{ font-family:'Montserrat', sans-serif !important; }
#subbody .container{max-width:1170px;}
#outermain{background-repeat:repeat; background-position:center; background-color:transparent;}
#outeraftercontent{background-repeat:repeat; background-position:center; background-color:transparent;}
#footerwrapper{background-repeat:repeat; background-position:top center; background-color:#252525;}

/* CSS Document */
.slideritems .slides .slider1{background-image:url(../images/content/slider1.jpg);}
.slideritems .slides .slider2{background-image:url(../images/content/slider2.jpg);}
.slideritems .slides .slider3{background-image:url(../images/content/slider3.jpg);}

#content-home{background-image:url(../images/content/slider1.jpg);}

#content-we-love-design{
	background-image:url(../images/content/bg-welovedesign.jpg);
	padding-top:141px;
	padding-bottom:130px;
}

#content-about-us{background-image:url(../images/content/bg-about.jpg);background-size:cover;padding-top:140px;}

#content-big-quote{background-image:url(../images/content/bg-quote.jpg);}

#content-testimonial{background-image:url(../images/content/bg-partners.jpg);background-size:cover;padding-top:140px;}

#content-events{background-image:url(../images/content/bg-events.jpg);background-size:cover;padding-top:140px;}

#content-our-works{padding-top:140px;padding-bottom:0px;}

#content-our-services{background-image:url(../images/content/bg-services.jpg); background-size:cover; padding-top:140px;}
#content-our-services .icn-container{font-size:18px;width:18px;height:18px;line-height:18px;}

#content-purchase{background-image:url(../images/content/bg-purchase.jpg);}

#content-our-team{background-image:url(../images/content/bg-team.jpg); background-size:cover; padding-top:140px;}

#content-fun-facts{background-image:url(../images/content/bg-funfacts.jpg);}

#content-pricing-info{padding-top:140px;}

#content-contact-us{background-image:url(../images/content/bg-contact.jpg);background-size:cover;padding-top:140px;}

#content-join-us{background-image:url(../images/content/bg-joinus.jpg);background-size:cover; padding-top:140px;}

.blog #outerafterheader {
	background-image: url(../images/content/bgblog.jpg);
	background-repeat: no-repeat;
	background-position: center;
}