/* #Retina Display Queries
================================================== */
@media only screen and (-Webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 4/2),
only screen and (min-device-pixel-ratio: 2),
(min-resolution: 144dpi){

blockquote {background-image:url(../images/quote@2x.png); background-size:28px 24px;}
.flexslider.preloader{background-image:url(../images/ajax-loader@2x.gif); background-size:31px 31px;}
#slider .flex-direction-nav a.flex-prev{background-image:url(../images/arrowleft_bold@2x.png); background-size:23px 40px;}
#slider .flex-direction-nav a.flex-next{background-image:url(../images/arrowright_bold@2x.png); background-size:23px 40px;}
#beforecontent .searchdomain.loading{background-image:url(../images/domainload@2x.gif); background-size:20px 20px;}
#beforecontent #btndomainsubmit{background-image:url(../images/btndomainsearch@2x.png); background-size:17px 17px;}
.commentlist li.comment ul.children li{background-image:url(../images/commentchildren-line.gif); background-size:38px 1px;}
.pullquote-right,.pullquote-left{background-image:url(../images/quote@2x.png); background-size:28px 24px;}
h2.trigger span {background-image: url(../images/toggle_close@2x.png); background-size:17px 17px;}
h2.active span{background-image: url(../images/toggle_open@2x.png); background-size:17px 17px;}
.nvr-trotating blockquote .arrowbubble{background-image:url(../images/arrowbubble@2x.png); background-size:18px 16px;}
.minisliders .flex-direction-nav a.flex-prev{background-image:url(../images/arrowleft_bold@2x.png); background-size:23px 40px;}
.minisliders .flex-direction-nav a.flex-next{background-image:url(../images/arrowright_bold@2x.png); background-size:23px 40px;}
.nvr-pf-img{background-image:url(../images/pf-loader@2x.gif); background-size:31px 31px;}
.nvr-noimage{background-image:url(../images/noimage.png); background-size:100px 71px;}
.nvr-pf-img a.zoom, div.frameimg a.zoom{background-image:url(../images/hover-zoom@2x.png)!important; background-size:26px 26px;}
.nvr-pf-img a.gotolink, div.frameimg a.gotolink{background-image:url(../images/hover-link@2x.png) !important; background-size:26px 26px;}
.nvr-pf-img a.gotopost, div.frameimg a.gotopost{background-image:url(../images/hover-doc@2x.png) !important; background-size:20px 20px;}
.flexslider-carousel .flex-direction-nav a.flex-prev{background-image:url(../images/arrowleft_bold@2x.png); background-size:23px 40px;}
.flexslider-carousel .flex-direction-nav a.flex-next{background-image:url(../images/arrowright_bold@2x.png); background-size:23px 40px;}
.hostingprice{background-image:url(../images/hostingprice@2x.png) !important; background-size:700px 200px;}
.contact_email{background-image:url(../images/icons/address/email@2x.png)!important; background-size:16px 10px;}
.contact_address{background-image:url(../images/icons/address/home@2x.png)!important; background-size:10px 14px;}
.contact_mobile{background-image:url(../images/icons/address/mobile@2x.png)!important; background-size:16px 12px;}
#aboutslider .flex-control-nav a, #machineslider .flex-control-nav a{background-image:url(../images/sliderdot.png);}
ul.customlist.listcheck li, li.check{background-image:url(../images/list-check@2x.png);background-size:12px 12px; }
ul.timeline li{background-image:url(../images/timeline.gif); background-size:58px 1px;}
.nvr_selector{background-image:url(../images/selector@2x.png); background-size:12px 8px;}

}

/* #Media Queries
================================================== */
@media only screen and (max-width: 959px) {
	#outerslider.parallax #slider{ display:none;}
	#outerheader{background-color:#ffffff;}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	#slider .caption-content h2{font-size:48px; letter-spacing:-1px; line-height:52px;}
	.searchbox{display:none !important;}
	
	#bodychild{width:100%; margin:0}
	
	/* Main Menu */
	.sf-menu, .sf-menu * {font-size:11px;}
	.sf-menu > li{margin-left:5px; margin-right:5px;}
	.sf-menu li{padding:2px 7px;}
	.sf-menu li:hover ul,
	.sf-menu li.sfHover ul {
		top:2.3em; /* match top ul list item height */
	}
	
	/* Header */
	
	/* Slider */
	.section.slider .caption-content h4{
		font-size:18px;
		line-height:18px;
		margin-bottom:30px;
	}
	.section.slider .caption-content h2{
		font-size:50px;
		margin-bottom:25px;
		padding:10px 25px;
	}
	.section.slider .caption-content div{line-height:20px; font-size:16px;}
	.section.slider div.borderslider{width:73px; height:5px; margin:30px auto 0px;}
	.section.slider a.sliderbutton{
		margin:24px auto 0px auto;
		padding:11px 30px 11px 30px;
		font-size:11px;
	}
	.flex-control-nav { display:none;}
	div.pcarousel .flex-control-nav{display:block;}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 950px) {
	.sf-menu a {
		font-size:10px !important;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (min-width: 768px) {
	.topnav.sf-menu {display:block !important;}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.vc_responsive div.vc_row-fluid div[class*="vc_span"] {
		float: none;
		display: block;
		width: auto;
		margin-left: 0;
		margin-bottom:20px;
	}
	
	#bodychild{width:100%; margin:0}
	
	/* Header */
	#outerheaderwrapper{height:auto!important;}
	#subbody #outerheader{opacity:0.9; background-color:#fff; border-bottom:1px solid #f0f0f0;}
	#outerheaderclone{display:none !important;}
	#subbody div.logo{text-align:center; width:auto; float:left;}
	#subbody div.logo img.lightlogo{display:none !important;}
	#subbody div.logo img.darklogo{display:block !important;}
	div.topcontainer.container{padding:13px 0px;}
	a.nav-toggle{display:block; width:66px; height:66px; font-size:30px; line-height:66px; text-align:center; cursor:pointer; }
	nav{margin:0; float:none;}
    .js .topnav { display: none; position:absolute; left:0px; width:100%; padding:0px; top:100%; z-index:300;}
	.js .topnav li, .js .topnav ul{padding:0px !important; margin:0px !important; border:0px !important; background:none !important;display:block !important; }
	.js .topnav ul.sub-menu{visibility:visible !important; position:static !important; width:100% !important;}
	.js .topnav a{width:100% !important; position:static; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding:16px 22px !important; background-color:#1f1f1f; color:#8b8b8b; border-bottom:1px solid #252525; background-image:none; text-align:left; font-size:13px; line-height:13px; font-weight:700; text-transform:uppercase;}
	.js .topnav ul.sub-menu a{padding:16px 22px 16px 34px !important;}
	.js .topnav a:hover, .js .topnav a.current-menu-item{background-color:#fff200 !important; background-image:none !important; color:#333333 !important;}
	.searchbox{display:none !important;}
	
	.breadcrumb{display:none;margin-bottom:30px; margin-top:-2px;}
	.textshadow #aftertheheader .pagetitle{text-align:center; padding:0px 0px 0px 0px;}
	.bigtext{font-size:24px;}
	.secondarytext{font-size:14px;}
	
	#outerafterheader, #outerafterheader.sticky{padding-top:31px;}
	#aftertheheader h1.pagetitle{font-size:32px;line-height:32px;}
	#aftertheheader .pagedesc{text-align:center; padding-right:10px; padding-left:10px;}
	
	/* Slider */
	#outerslider, #outerslider.sticky{padding-top:0px;}
	#slidercontainer{padding-top:0px;}
	.flexslider.preloader{min-height:150px;}
	.section.slider .caption-content h4{
		font-size:16px;
		line-height:16px;
		margin-bottom:25px;
	}
	.section.slider .caption-content h2{
		font-size:40px;
		margin-bottom:25px;
		padding:10px 25px;
	}
	.section.slider .caption-content div{line-height:20px; font-size:14px;}
	.section.slider div.borderslider{width:73px; height:5px; margin:30px auto 0px;}
	.section.slider a.sliderbutton{
		margin:24px auto 0px auto;
		padding:11px 30px 11px 30px;
		font-size:11px;
	}
	.flex-control-nav { display:none;}
	.flex-direction-nav{display:none;}
	div.pcarousel .flex-control-nav{display:block;}
	.flexslider .slides > li{}
	.nvr-trotating.flexslider .slides > li{padding-top:0px;}
	#outerslider.parallax.empty, #outerslider.parallax.sticky{padding-top:100px;}
	
	/* Content */
	#maincontent{max-width:480px; margin-left:auto; margin-right:auto;}
	.separator{height:0px;padding:3px 0px 2px;}
	#outermain{padding:25px 0 15px 0;}
	#outermain .row .columns, #outermain .row .column, .outersection .row .columns, .outersection .row .column{margin-bottom:20px !important;}
	.main{padding:0;}
	.section.parallax{background-size:cover; background-attachment:scroll; background-position:0% 0%;}
	.frameimg{border:0px;padding:0px;}
	
	ul.tabs li {
	width: 49%;
	margin: 0 2px 1px 0;
	text-align: center;
	}
	
	.positionright, .positionleft{
		float:none;
	}
	div.wp-pagenavi{padding:0px 20px; margin-bottom:20px;}
	
	/* Blog */
	.post{padding-bottom:0px; margin-bottom:30px;}
	.pagenavi{margin-bottom:30px;}
	.postscontainer.mason .articlewrapper{width:100%; margin-bottom:20px;}
	
	/* Sidebar */
	#sidebar{padding-top:20px; display:none;}
	#sidebar.positionright .widget-area{padding-left:0px;border-left:0px solid;}
	#sidebar.positionleft .widget-area{padding-right:0px;border-right:0px solid;}
	#sidebar .widget-container{padding:0; margin-bottom:30px;}
	
	/* Portfolio */
	.nvr-pf-container{max-width:547px !important; margin-right:auto !important; margin-left:auto !important;}
	#nvr-pf-filter{max-width:100%;}
	
	/* Products */
	body.novaro ul.products li.product{margin-right:0px; margin-bottom:20px; width:100%;}
	body.novaro .related ul.products li.product, body.novaro .related ul li.product, body.novaro .upsells.products ul.products li.product, body.novaro .upsells.products ul li.product{width:100% !important; margin-left:0px; margin-right:0px; margin-bottom:20px;}
	body.novaro #customer_details .col-1, body.novaro #customer_details .col-2{ width:100%; margin:0px 0px 20px 0px;}
	
	/* Portfolio filter */
	#filters{text-align:center;}
	
	/* Footersidebar */
	#outerfootersidebar{display:none;}
	#footersidebar li.widget-container{margin-bottom:20px;}
	
	/* Footer */
	.sn{float:none;}
	#footer .copyright{ float:none; clear:both; text-align:center; padding:0px 0 0 0;}
	#footer #footermenu{float:none; text-align:center;}
	#footer .copyright, #footer #footermenu li a{font-size:10px !important;}
	
	#footer #footericon {float: none; text-align:center; margin-top:10px;}
	.sn li {display:inline-block; float:none;}
	/* contact form 7 plugin */
	.wpcf7 .label{float:none; width:100%; display:block}
	.wpcf7-submit{margin:0px 0 0 0 !important;}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#bodychild{width:100%; margin:0}
	#slider .text-caption{padding-top:60px;}
	#slider .caption-content{margin-top:0px !important;}
	#slider .caption-content h2{font-size:32px; letter-spacing:0px; line-height:32px;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#bodychild{width:100%; margin:0}
	#headertext{display:none !important;}
	
	/* Blog */
	#entry-author-info #author-description{margin:0}
	.avatar{display:none;}
	.commenttext{padding:20px 0 0 0;}
	.comment-body{margin-left:0 !important;}
	.entry-utility{font-size:9px !important;}
	.entry-utility a.more-link{display:none !important;}
}
