/*------------------------------------------------------------------
[   Table of contents]

1. Global Elements
2. Global Container
3. Header & Menu
4. Afterheader / #outerafterheader
5. Slider
6. Slider Video
7. Middle Content - #outermain
8. Blog / Posts Style
9. Sidebar
10. Other Elements
11. Testimonials
12. People
13. Portfolio
14. Footer / #footerwrapper
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[1. Global Elements]
*/

/* Main global 'theme' and typographic styles */
body {
	font-family: 'Merriweather', serif !important;
	font-size:14px;
	-webkit-font-smoothing:antialiased;
	margin:0 auto;
	padding:0;
	line-height:23px;
}
#subbody .container{max-width:1170px;}
/* links */
a, a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a{
transition: color 0.2s;
-moz-transition: color 0.2s; /* Firefox 4 */
-webkit-transition: color 0.2s; /* Safari and Chrome */
-o-transition: color 0.2s; /* Opera */
}

/* heading */
h1, h2{margin-bottom:24px;}
h3, h4{margin-bottom:18px;}
h5, h6{margin-bottom:12px;}
h1	{font-size:32px; line-height:40px;}
h2	{font-size:28px; line-height:36px}
h3	{font-size:24px; line-height:32px}
h4	{font-size:18px;}
h5	{font-size:16px;}
h6	{font-size:15px;}
h4, h5, h6{ line-height:normal;}
h1, h2, h3, h4, h5, h6{font-family:'Montserrat', sans-serif !important;}
.bigtext{ font-family:'Montserrat', sans-serif !important; }
.smallmargin{margin-bottom:12px;}
.largetext{font-size:18px; line-height:26px;}
.valignmiddle{line-height:28px; margin-bottom:8px}

/* Text elements */
hr {
	border-width:0;
	height:30px;
	line-height:0;
	margin:0px;
	margin-bottom:30px;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
}
#content hr {
	height:40px;
	margin-bottom:40px;
}

p {
	margin-bottom:20px;
}

ul {
	list-style: disc;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 2.2em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	margin:0px 0px 20px 0px;
	padding:0px 10px 0px 40px;
	background-image:url(../images/quote.png); background-repeat:no-repeat; background-position:0px 0px;
	clear:both;
	font-style:italic;
	font-size:16px;
	line-height:22px;
}
	
	
blockquote.left, blockquote.right  {
	float:right;
	letter-spacing:0px;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:0px;
	padding:0px 20px 10px 60px;
	width:43%;
	background-position:0px 0px;
	}
	
blockquote.left{
	float:left;
	margin-left:0px;
	margin-right:20px;}

	
blockquote p{ margin:0px;}
blockquote div{}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}

code {
	font-family:"Courier New", Courier, monospace;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	border-left:solid 4px #ebebeb;
	padding:15px 10px;
}

pre {
	border-left:solid 4px #ebebeb;
	line-height: 18px;
	margin-bottom: 18px;
	padding:20px;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}
.hidden{display:none !important;}
.textcenter{text-align:center;}
.textleft{text-align:left;}
.textright{text-align:right;}
.invisible{display:none !important;}
.marginoff{margin:0px;}
.marginsmall{margin-bottom:10px !important;}
.marginnormal{margin-bottom:20px !important;}
.marginbig{margin-bottom:35px !important;}
.borderbottom{padding-bottom:12px;}
.fontthin{font-weight:300;}
.fontnormal{font-weight:500;}
.fontbold{font-weight:700;}
.hiddenflow{overflow:hidden;}
.positionleft{float:left;}
.positionright{float:right;}
.blocked{display:block;}
.insetshadow{
	-moz-box-shadow: inset 0 0 5px -1px #000;
	-webkit-box-shadow: inset 0 0 5px -1px #000;
	box-shadow: inset 0 0 5px -1px #000;
}

.wrapword{
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
}


/*------------------------------------------------------------------
[2. Global Container]
*/
#subbody{
	width:100%; 
	margin:0px;
    padding-top:0px;
}
#outercontainer{width:100%;}
#outerheaderwrapper, #outerheader, #outerafterheader, #outermain,  #outerfootersidebar, #outerfooter{width:100%;}

#subbody .container{max-width:940px; overflow:visible;}

.innersection{
	padding-top:60px;
	padding-bottom:60px;
}


/*------------------------------------------------------------------
[3. Header & Menu]
*/

.loadercontainer{display:none;}
.nvronepage .loadercontainer, .nvrflippage .loadercontainer {
	background-color:#FFF;
	width:100%;
	height:100%;
	position:fixed;
	z-index:100000;
	display:block;
}
#loader {
	background:url(../images/logo-dark-small.png) bottom center no-repeat transparent;
	height: 200px;
	width: 100%;
	max-width:100%;
	left: 0px;
	bottom: 51%;
	position: absolute;
	margin: 0px;
}
#loadingbar{
	width:0%;
	height:2px;
	background-color:#333;
	position:absolute;
	top:51%;
	left:0px;
	transition: width 0.2s;
	-moz-transition: width 0.2s; /* Firefox 4 */
	-webkit-transition: width 0.2s; /* Safari and Chrome */
	-o-transition: width 0.2s; /* Opera */
}

div.topcontainer.container{
	padding:25px 0px;
	transition:padding 1s ease-in-out;
	-moz-transition:padding 1s ease-in-out;
	-webkit-transition:padding 1s ease-in-out;
	-o-transition:padding 1s ease-in-out;
}
.sticky div.topcontainer.container{padding:13px 0px;}
#outerheader{
	z-index:101;
	position:fixed; 
	left:0px; 
	top:0px;
	width:100%;
	transition:background-color 1s ease-in-out, border 1s ease-in-out;
	-moz-transition:background-color 1s ease-in-out, border 1s ease-in-out;
	-webkit-transition:background-color 1s ease-in-out, border 1s ease-in-out;
	-o-transition:background-color 1s ease-in-out, border 1s ease-in-out;
}

#outerheaderclone, #outerheader.sticky{ opacity:0.9; z-index:1000;}
#outerheaderclone{top:-200px;}
#outerheaderclone.sticky{top:0px;}
#outerheaderclone .searchbox{display:none;}
.admin-bar #outerheaderclone.sticky, .admin-bar #outerheader{top:32px;}
.secondarymenu ul{padding:0px;margin:0px; float:right;}
ul#secondarynav{margin:0px; float:right;}
.secondarymenu li{
	list-style-type:none;
	display:block;
	float:right;
	margin-left:10px;
	font-size:14px; 
	font-weight:500;
}
.secondarymenu a{
	text-decoration:none!important;
	display:		block;
	position:		relative;
	padding: 		10px 14px 10px 14px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-weight:500;
	letter-spacing:0px;
	font-size:14px;
}
div.logoimg a{display:block;}
div.logoimg img{display:block; height:66px; width:auto;}
div.logoimg img.lightlogo{display:none;}
.light-menu div.logoimg img.lightlogo{display:block;}
.light-menu div.logoimg img.darklogo{display:none;}
.sticky div.logoimg img.darklogo{display:block;}
.sticky div.logoimg img.lightlogo{display:none;}
div.logo h1{margin-bottom:0px; letter-spacing:-1px;}

/* Menu */
section.navigation{
	float:right;
}
a.nav-toggle{display:none;}

ul.topnav{
	margin:0;
	padding:0px;
	list-style-type:none;
	overflow:visible;
	position:relative;
}
.topnav li a, .topnav li a:visited{font-family:'Montserrat', sans-serif !important;}
.sf-menu a {
	text-decoration:none!important;
	display:		block;
	position:		relative;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:0px;
	font-size:13px;
	padding-top:31px;
	padding-bottom:6px ;
	cursor:pointer;
	transition:color 0.5s;
	-moz-transition:color 0.5s;
	-webkit-transition:color 0.5s;
	-o-transition:color 0.5s;
}

.topnav > li > a:hover,
.topnav > .current_page_item > a, .topnav > .current_page_item > a:hover,
.topnav > .current_page_parent > a, .topnav > .current_page_parent > a:hover,
.topnav > .current-menu-parent > a, .topnav > .current-menu-parent > a:hover,
.topnav > .current-menu-item > a, .topnav > .current-menu-item > a:hover
{background-image:url(../images/bg-menu.png); background-repeat:no-repeat; background-position:top center;}

.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	display: inline-block;
	position:		relative;
	margin:0;
}

.sf-menu > li {
    position: relative;
    z-index: 10;
	padding:0px;
	margin:0px 13px;
	letter-spacing:0px;
}
.sf-menu > li.fa{}
.sf-menu > li.fa > a{background-image:none !important;}
.sf-menu > li:before {
	font-size:13px;
    bottom: auto;
    display: block;
    left: 50%;
	width:16px;
	height:15px;
	opacity:0;
	margin-left:-8px;
	text-align:center;
    position: absolute;
    right: auto;
    top: 0px;
    z-index: -1;
}
.topnav > li:hover:before,
.topnav > li.current_page_item:before, .topnav > li.current_page_parent:before,
.topnav > li.current-menu-parent:before, .topnav > li.current-menu-item:before{
	opacity:1;
}


/* Drop down menu */
.sf-menu ul a:hover {}
.sf-menu li li {
	text-align:left;
	line-height:20px;
	margin:0;
}
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
	font-size:13px;
	
}
.sf-menu {
	line-height:100%;
	text-align:center;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			12em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: 0px;
	top: 53px; /* match top ul list item height */
	z-index: 99;
	padding:0px;
	width:150px !important;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
	
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			202px !important; /* match ul width */
	top:			-15px;
	margin-left:	0px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
	
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			202px !important; /* match ul width */
	top:			-15px;
	
}
.sf-menu ul li a{
	padding:6px 20px 6px 30px!important;
	font-weight:500;
}

.sf-menu li ul {
	padding:0px 0px;	
}
.sf-menu a.sf-with-ul {
	padding-right: 	0px;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	width:			9px;
	height:			5px;
	top:4px;
	right:0px;
	text-indent: 	-999em;
	overflow:		hidden;
}
.sf-menu a.sf-with-ul:hover .sf-sub-indicator{
	background-position:0px 0px; 
}
.sf-menu ul.sub-menu .sf-sub-indicator{
	width:5px;
	height:9px;
	top:17px;
	right:-5px;
}
.sf-menu ul.sub-menu a.sf-with-ul:hover .sf-sub-indicator{
}

.sf-menu ul{border:0px;}
.sf-menu li li { border-right:0px;}
.sf-menu > li li:before{
	content: "";
	display: block;
	border-right:0px;
}


/* dropdown mobile */
.tinynav { display: none }


/*------------------------------------------------------------------
[4. After Header - #outerafterheader]
*/

#outerafterheader{
	padding:110px 0px 88px; 
	border-bottom:0px solid;
	background-repeat:no-repeat; 
	background-position:center;
	transition:padding 1s ease-in-out;
	-moz-transition:padding 1s ease-in-out;
	-webkit-transition:padding 1s ease-in-out;
	-o-transition:padding 1s ease-in-out;
}
#afterheader{}
#aftertheheader{}
#afterheader .pagetitle, .section-title .pagetitle{font-size:24px; line-height:24px; margin-bottom:0px; text-transform:uppercase; text-align:center; font-weight:500; letter-spacing:-1px;}
#afterheader .bordertitle, .section-title .bordertitle, #portfoliocontent .bordertitle{height:43px; width:100%; margin:0px auto; overflow:hidden; position:relative;}
.bordertitle .borderleft, .bordertitle .borderright{position:absolute; margin-left:15px; bottom:10px; left:50%; display:block; height:1px; width:100px;}
.bordertitle .borderright{left:auto; right:50%; margin-right:15px;}
.bordertitle .bordericon{width:30px; height:19px; line-height:19px; font-size:19px; text-align:center; position:absolute; margin-left:-15px; bottom:0px; left:50%; display:block;}
#afterheader .pagedesc, .section-title .pagedesc{font-size:16px; line-height:28px; font-weight:500; display:block; text-align:center; margin-top:15px;}
#breadcrumbcontainer{float:right;}
.nvr-breadcrumb{font-weight:700; letter-spacing:-1px;}
div.breadcrumb{
	font-size:11px; 
	line-height:12px;
	margin-bottom:27px; 
	margin-top:-27px;
	-webkit-text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.55);
	-moz-text-shadow:    0px 1px 4px rgba(0, 0, 0, 0.55);
	text-shadow:         0px 1px 4px rgba(0, 0, 0, 0.55);
}
div.breadcrumb a{
	font-weight:700;
	text-decoration:none;
}
div.breadcrumb a:hover{
	text-decoration:underline;
}


/*------------------------------------------------------------------
[5. Slider - .slidercontainer]
*/

.slidercontainer{width:100%; margin:0px auto 0px auto; border:0; }
.flexslider.preloader{
	min-height:300px;
	background-image:url(../images/pf-loader.gif); background-repeat:no-repeat; background-position:center center;
}
.slidersection .flex-control-nav{bottom:13px;}

#subbody .flex-direction-nav li{position:static;}
#subbody .flex-direction-nav a{
	width:43px;
	height:43px;
	z-index:100;
	top:50%;
	margin-top:-18px;
	font-family:'FontAwesome';
	font-size:30px;
	line-height:43px;
	text-align:center;
	text-indent:0px !important;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
#subbody .flex-direction-nav a.flex-prev{left:15px;}
#subbody .flex-direction-nav a.flex-prev:before{content:"\f104";}
#subbody .flex-direction-nav a.flex-next{right:15px;}
#subbody .flex-direction-nav a.flex-next:before{content:"\f105";}
#subbody .flex-control-nav{bottom:20px; direction:ltr;}
#subbody .flex-control-nav li a{background:none; border:2px solid #fff; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; width:8px; height:8px;}
#subbody .flex-control-nav li a:hover, #subbody .flex-control-nav li a.flex-active{background:#fff;}
.flexslider .flex-viewport{direction:ltr;}
.flexslider .slides{direction:ltr;}
.flexslider .slides > li{direction:ltr; position:relative; overflow:hidden;}
.flexslider .slides img.slider-img{min-width:100%; min-height:100%;}
.section.slider{position:relative;}
.section.slider .slidercontainer{z-index:20; position:relative;}
.section.slider .slides > li{background-position:center; background-repeat:no-repeat; background-size:cover;}
.section.slider .flex-caption{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	padding:0px; 
	display:table;
	-webkit-transform:perspective(900px) rotateX(90deg);
	-moz-transform:perspective(900px) rotateX(90deg);
	-o-transform:perspective(900px) rotateX(90deg);
	transform:perspective(900px) rotateX(90deg);
	transition: transform 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	-o-transition: -o-transforom 0.5s;
}
.section.slider .flex-caption.flip{
	-webkit-transform:perspective(900px) rotateX(0deg);
	-moz-transform:perspective(900px) rotateX(0deg);
	-o-transform:perspective(900px) rotateX(0deg);
	transform:perspective(900px) rotateX(0deg);
}
.section.slider .text-caption{/*padding-top:75px;*/ display:table-cell; vertical-align:middle;}
.section.slider .text-caption.left .caption-content{width:40%; padding-right:10%;float:left; margin-top:60px;}
.section.slider .text-caption.right .caption-content{width:50%; padding-left:0%;float:right; margin-top:20px;}
.section.slider .text-caption.top{/*padding-top:180px;*/}
.section.slider .text-caption.top .caption-content{text-align:center;}
.section.slider .caption-content h4{
	font-size:24px;
	line-height:24px;
	font-weight:400;
	letter-spacing:-1px;
	text-transform:uppercase;
	margin-bottom:39px;
}
.section.slider .caption-content h2{
	line-height:normal;
	font-weight:700;
	font-size:75px;
	letter-spacing:-2px;
	margin-bottom:31px;
	text-transform:uppercase;
	display:inline-block;
	padding:13px 35px;
}
.section.slider .caption-content div{line-height:24px; font-size:20px; font-style:italic;}
.section.slider div.borderslider{width:73px; height:5px; margin:30px auto 0px;}
.section.slider a.sliderbutton{
	border:1px solid;
	margin:32px auto 0px auto;
	padding:14px 40px 14px 40px;
	display:inline-block;
	font-size:13px;
	line-height:100%;
	font-weight:500;
	text-align:center;
	text-transform:uppercase;
	font-family:'Montserrat', sans-serif;
}

.section.slider .flex-control-paging li a.flex-active {cursor: pointer;}


/*------------------------------------------------------------------
[6. Slider Video]
*/

.section.slider .mobile-video-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.section.slider .video-overlay {
	height: 3000px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 11;
}

.section.slider .video-overlay.active {
	background-image: url("../images/bg-video.png");
	background-position: 0px 0px;
	background-repeat: repeat;
	opacity: 1;
}

.section.slider .video-wrap {
	top: 0px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 10;
}
.section.slider .video-wrap iframe{position:absolute; top:0px; left:0px; min-width:100%; min-height:100%; display:block;}

.section.slider .video-wrap video{ margin:0px auto; text-align:center; position:absolute; top:0px; left:0px; min-width:100%; min-height:100%; display:block;}

.section.slider .video-wrap .mejs-poster {
	background-size: cover!important;
	-moz-background-size: cover!important;
	-webkit-background-size: cover!important;
	-o-background-size: cover!important;
}

.section.slider .video-wrap .mejs-container .mejs-controls {
	display: none!important;
}

.section.slider .video-wrap .mejs-controls .mejs-button button:focus {
	outline: none!important;
}

.section.slider .video-wrap .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background-color: rgba(255, 255, 255, 0.18) !important;
}

.section.slider .video-wrap .mejs-container {
	background-color: transparent!important;
	background-image: none!important;
	height: auto !important;
}

.section.slider .video-wrap .mejs-mediaelement{
	background: none !important;
	border: 0px !important;
}

.section.slider .video-wrap .mejs-container .mejs-poster img {
	max-width: none!important;
	width: 100%!important;
}

.section.slider .video-wrap .mejs-controls button { opacity: 0.8; }
.section.slider .video-wrap .mejs-controls button:hover, .mejs-controls .mejs-fullscreen-button:hover button { opacity: 1!important;}

.section.slider .video-wrap .mejs-controls .mejs-time-rail .mejs-time-total {
	background: #1f1f1f none repeat scroll 0 0 !important;	
}

.section.slider .video-wrap .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: transparent!important;
}
/* Section Video Background - End */


/*------------------------------------------------------------------
[7. Middle Content - #outermain]
*/

.container.nvr-fullwidthwrap{max-width:none !important;}
.container.nvr-fullwidthwrap > .row > .columns{padding:0px;}

.section.default{padding-top:120px; padding-bottom:80px; background-repeat:no-repeat;}
.section-title{margin-bottom:82px;}
.sectionno-1 .section.default .section-title{padding-top:50px;}

.section.parallax{background-position:50% 0px; background-attachment:fixed;}

#outermain{background-repeat:repeat; background-position:center; background-color:transparent;overflow:hidden; padding:0px 0px 60px 0px;}
.nvronepage #outermain{padding:0px;}
#maincontent{ padding-top:24px;}
#content{}
.main{padding:0 0px 0 0;}

#content.positionright .main{padding:0 0 0 20px;}
.smalltext{font-size:11px}

/* Images Responsive */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}


/* Separator */
.separator {
	display:block;
	height:1px;
	padding:30px 0;
	text-align:center;
	width:100%;
	clear:both;
}
.separator.line div{
	height:1px;
	border-bottom:1px solid;
}
.spacer{
	display:block;
	clear:both;
	width:100%;
	height:25px;
}


/* form & button */
form{margin:0; padding:0;}
input[type="text"], input[type="email"],
textarea, input[type="password"]{
	font-size:11px;
	padding:8px 5px;
}
select{
	font-size:11px;
	padding:8px 5px;
}

select {
	font-size:11px;
	padding:4px 5px;
}

.button, .more-link,
.button:visited,
input[type="submit"],
input[type="reset"], button{
	padding:14px 16px;
	display:inline-block;
	font-family:'Montserrat', sans-serif;
	font-size:13px;
	line-height:100%;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	cursor:pointer;
	border:1px solid;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	transition:background-color 0.2s, border-color 0.2s;
	-webkit-transition:background-color 0.2s, border-color 0.2s;
	-moz-transition:background-color 0.2s, border-color 0.2s;
	-o-transition:background-color 0.2s, border-color 0.2s; 
}
.button:hover, .more-link:hover,
input[type="submit"]:hover,
input[type="reset"]:hover, button:hover{
	text-decoration:none; 
	cursor:pointer;
}
.button.bigger{padding:14px 35px;}

/* firefox only */
@-moz-document url-prefix() {
	.button,
	.button:visited,
	#content input[type="submit"],
	#content input[type="reset"],
	#content button{
	 padding:4px 15px 7px 15px;
	}
}


/* Tables */
table {border-collapse:separate;border-spacing:0;width:100%; margin-bottom:18px;}
table,td,th { text-align:center;}
th{padding:10px;/*text-transform:uppercase;*/}
td{padding:10px;}
tfoot td{border:0px;}
th,tr:hover{}
table {
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr th,
thead th {
    background-color: #F0C401;
    /*border: 1px solid white;*/
    color:black;
     font-weight: normal;
   
    text-align: center;
	font-size: 16px;
	font-weight: bold;
    font-style: italic;
    
	line-height: 18px;
	
}
tr td {
	padding: 10px 24px;
	vertical-align:middle;
     border: 1px solid white;
     background-color: #eeeeee;
    color: #6f6f6f;
   
}
tr.odd td {
}

/* FLIP PAGE
-------------------------------------------------------------- */
html.fliphtml{height:100%;}
body.nvrflippage{height:100%;}
.nvrflippage #subbody, .nvrflippage #outercontainer, .nvrflippage #outermiddle{height:100%;}
.nvrflippage #outermain,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.nvrflippage #outermain{
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
	padding:0px;
}
.js .nvrflippage .section.default{
	position:absolute;
	top:0px;
	bottom:0px;
	width:100%;
}

.js body.nvrflippage #subbody .section.default{
	overflow:hidden;
}

.js .nvrflippage .section > .container{
	position:relative;
}
.js .nvrflippage .section > .container > .row{
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 10px 5% 10px 5%;
}

.js .nvrflippage .section > .container > .row:before,
.js .nvrflippage .section > .container > .row:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
	pointer-events: none;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.js .nvrflippage .section > .container > .row:after {
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}
.nvrflippage #footerwrapper{
    
	position:fixed; 
	z-index:102; 
	bottom:0px; 
	width:100%; 
	height:0px;
	
	transition:height 0.5s;
	-moz-transition:height 0.5s;
	-webkit-transition:height 0.5s;
	-o-transition:height 0.5s;
}

#togglefoterwrapper{display:none;}

.nvrflippage #footerwrapper #togglefoterwrapper{
	position:absolute;
	top:-27px;
	left:50%;
	display:block;
	margin-left:-13px;
	width:27px;
	height:27px;
	text-align:center;
	font-size:24px;
	line-height:27px;
	cursor:pointer;
}
.nvrflippage #footerwrapper #outerfooter{}
.nvrflippage .copyrightcontainer{padding:12px 0px;}

/*------------------------------------------------------------------
[8. Blog]
*/
article.content-loop{margin:0px 0px 28px 0px;}
article .mediacontainer p, article .audiocontainer p{margin:0px;}
article .gallerycontainer, article .imgcontainer{margin-bottom:16px;}
article .audiocontainer{margin-bottom:16px;}
article .mediacontainer{
	position: relative;
	padding-top: 1.5625em;
	padding-bottom: 57.25%;
	height: 0;
	overflow: hidden;
	margin-bottom:16px;
}

article .mediacontainer iframe, article .mediacontainer object, article .mediacontainer embed, .article .mediacontainer video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
article .mediacontainer iframe{width:100%; height:100%;}
article .audiocontainer iframe{width:100%;}
article .loopcontainer{
	padding:52px 19px 28px;
	position:relative;
}
#singlepost .gallerycontainer, #singlepost .imgcontainer, #singlepost .audiocontainer, #singlepost .mediacontainer{margin-bottom:25px;}
.post .entry-content{}
.posttitle{line-height:100%; padding-bottom:0px; font-size:18px; font-weight:700; margin-bottom:15px; text-align:center;}
.posttitle a{}
.postscontainer .entry-icon{position:absolute; width:35px; height:35px; border-width:2px; border-style:solid; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; background-repeat:no-repeat; background-position:center; background-image:url(../images/icons/format/standard.png); top:0px; left:50%; margin-left:-20px;z-index:300; }
.entry-utility{
	font-size:12px; 
	font-weight:600; 
	line-height:100%;
	padding:19px 0px;
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9; 
	position:relative;
}
#singlepost .entry-utility{margin-bottom:20px;}
.entry-utility span{ display:inline-block; margin:0px 0px 0px 15px; padding-right:15px;}
.entry-utility i{font-size:13px;}
.entry-utility .meta-author{margin:0px 0px 0px 0px;}
.loopcontainer .more-link{display:none;}
.entry-utility .more-link.btn{display:inline-block; padding:0px; float:right; font-size:12px; background:none; font-weight:300; border:0px; text-transform:none;}
.entry-utility a:hover{text-decoration:underline;}
.postimg{margin-bottom:10px;}

#maincontent.twelve.columns .postscontainer.classic{max-width:700px; margin:0px auto;}

article.format-quote .loopcontainer{padding:0px;}
.postscontainer article.format-quote .entry-icon{background-image:url(../images/icons/format/quote.png); background-color:transparent; top:0px; border:0px;}
article.format-quote .entry-content{padding:20px;}
article.format-quote blockquote{background-image:url(../images/bg-white10.png); background-repeat:repeat; padding:20px; text-transform:uppercase; font-weight:700; margin:0px;}
article.format-quote .posttitle{background-image:url(../images/bg-arrowwhite10.png); background-repeat:no-repeat; background-position:top center; text-align:center; font-weight:600; font-size:12px !important; text-transform:none; padding:20px 0px 0px 0px; margin:0px;}

article.format-aside .loopcontainer{padding:0px;}
.postscontainer article.format-aside .entry-icon{background-image:url(../images/icons/format/aside.png); background-color:transparent; top:0px; border:0px;}
article.format-aside .entry-content{padding:40px 20px 20px;}

.postscontainer article.format-video .entry-icon{background-image:url(../images/icons/format/video.png);}
.postscontainer article.format-audio .entry-icon{background-image:url(../images/icons/format/audio.png);}
.postscontainer article.format-gallery .entry-icon{background-image:url(../images/icons/format/gallery.png);}
.postscontainer article.format-image .entry-icon{background-image:url(../images/icons/format/image.png);}

article.format-link .loopcontainer{padding:0px;}
article.format-link .entry-content{padding:40px 20px 20px; font-size:16px; line-height:22px; font-weight:600;}
article.format-link .entry-content a:hover{text-decoration:underline;}
.postscontainer article.format-link .entry-icon{background-image:url(../images/icons/format/link.png); background-color:transparent; top:0px; border:0px;}

.postscontainer{position:relative;}
.postscontainer.mason{margin:0px -10px;}
.postscontainer.mason .articlewrapper{
	width:32.90%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:0px 10px;
	float:left;
}
.postscontainer.mason.twocols .articlewrapper{
	width:49%;
}
.postscontainer.mason .content-loop{margin-bottom:20px;}
.postscontainer.mason .posttitle{font-size:16px; text-align:center; line-height:22px;}
.postscontainer.mason .entry-utility span{border:0px;}
.postscontainer.mason .meta-comment, .postscontainer.mason .meta-cat{display:none;}
#infscr-loading{
	width:200px;
	padding:10px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color:#ffffff;
	border:1px solid #eaeaea;
	text-align:center;
	position:absolute;
	bottom:0px;
	left:50%;
	margin-left:-100px;
	z-index:300;
}
#infscr-loading img{display:block; margin:0px auto 10px;}
#loadmore-paging .loadmorebutton a{width:100px; padding:10px; display:block; margin:10px auto;  text-align:center; text-transform:uppercase; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; background-color:#ffffff; border:1px solid #eaeaea;}

#singlepost .post{margin-bottom:30px;}

#searchresult .hentry{margin-bottom:45px;padding-bottom:8px;}
#searchresult .entry-content{}
#searchresult .posttitle a, #searchresult .posttitle a:visited{}

#postattachment .entry-utility{width:100%; float:none; padding:0}
.entry-attachment{margin-bottom:20px;}


/* author */
h2.title-author{ font-size:16px}
#entry-author-info {
	clear: both;
	margin-bottom:30px;
	position:relative;
	padding:20px;
}
#entry-author-info #author-avatar {
	margin: 0 0 0 0;
	position:absolute;
	top:20px;
	left:20px
}
.avatar{display:block}
#entry-author-info #author-description {
	margin: 0 0px 10px 115px; vertical-align:top;
}
#entry-author-info #author-description  h2{font-size:16px; line-height:16px; margin-bottom:7px;}
#author-description span.author{display:block}

/* attachment pages wordpress */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* images content */
.alignleft,
img.alignleft {
	float: left;
	margin-right: 15px;
}
.alignright,
img.alignright {
	float: right;
	margin-left: 15px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignnone,
img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:0px;
}
img.alignleft, 
img.alignright, 
img.aligncenter,
img.alignnone {
	margin-bottom: 12px;
}
.frameimg{
	border:1px solid;
	margin-bottom:12px;
	padding:5px;
	overflow:hidden;
	position:relative;
}
.frameimg img{margin:0px !important; display:block;}

#content .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	text-align: center;
	margin-bottom: 20px;
	padding: 4px;
}
#content .wp-caption img {
	margin: 5px 5px 0;
}
#content .wp-caption p.wp-caption-text {
	margin: 5px;
	color: #888;
	font-size: 11px;
}
#content .wp-smiley {
	margin:0;
}
#content .gallery {
	margin: auto;
}
#content .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
#content .gallery img {
	border: 2px solid #cfcfcf;
}
#content .gallery .gallery-caption {
	color: #888;
	font-size: 11px;
	margin: 0 0 12px;
}
#content .gallery dl {
	margin: 0;
}
#content .gallery img {
	border: 10px solid #f1f1f1;
}
#content .gallery br+br {
	display: none;
}
.tag-links{padding:10px 0; display:block}


/* navigation  */
.navigation {
	line-height: 20px;
}
.navigation a:link,
.navigation a:visited {
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
}
.nav-previous {
	float: left;
}
.nav-next {
	float: right;
	text-align: right;
}
.nav-previous a, .nav-next a{
	font-size:12px;
	text-transform:uppercase;
	padding:8px 15px;
	font-style:italic;
	border:1px solid;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	padding:0; font-size:12px; margin:30px 0 0 0; clear:both; text-align:right
}


/* Comments */
#comments{
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title{
	line-height:24px;
	padding:0px 0px;
	margin:0 0 20px 0;
	font-size:18px;

}

h3#reply-title {
	font-size:18px;
	line-height:24px;
	margin:0 0 15px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
	margin-bottom:0px;
}
.commentlist li.comment {
	margin: 0 0 14px 0px;
	padding: 0 0 0px 0px;
	position: relative !important;
}
.commentlist li.comment ul.children{margin:14px 0 0 0px; padding:0px 0 0 0px; border-left:1px solid #e9e9e9; }
.commentlist li.comment ul.children li{border-bottom:0 !important; margin:0px 0px 14px 0px; padding:0px 0px 0px 70px; background-image:url(../images/commentchildren-line.gif); background-repeat:no-repeat; background-position:0px 21px;}
.commentlist li.comment ul.children li:last-child{margin-bottom:0px;}
#comments .comment-body ul,#comments .comment-body ol {
	margin-bottom: 0;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	padding:0px;
	background-color:transparent;
}
.comment-body cite {
	font-size:14px;
	line-height:14px;
	font-style:normal;
}

.comment-body cite  a, .comment-body cite  a:visited{}
.comment-body cite  a:hover{text-decoration:none}
.comment-author .says {	font-style: normal;}
.comment-meta {	font-size: 11px;	margin: 0 0 18px 0;}
.comment-meta a:link,
.comment-meta a:visited {
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	
}
.commentlist .even {}
.commentlist .bypostauthor {}

.reply a.comment-reply-link{ }

.edit-link{float:none; clear:both;}
a.comment-edit-link {
	
}
a.comment-edit-link:hover {
	text-decoration:none
}
.commentlist .children {
	list-style: none;
}
.commentlist .children li {}
.nopassword, .nocomments {display: none;}
#comments .pingback {
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	display: block;
	font-size: 11px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 12px;
}
.con-comment{padding:13px 12px; position:relative; border:1px solid;}
.commentlist .comment-author{ 
	position:absolute;
	top:13px;
	left:12px;
}
.commentlist .comment-body{width:auto; margin-bottom:0px !important; margin-left:90px;}
.commenttext{margin:0 0 0 0; padding:0 0 0 0;}
.commentlist .comment-body p{margin-bottom:10px !important}
.commentlist ul.children .comment-author{}
.commentlist ul.children .comment-body{}
*+html .commentlist .comment-body{margin-top:0}

.comment-body .fn{}
.comment-body .time{font-size:11px; padding:0 0px 6px 0px; display:block; text-transform:uppercase;}
.commentlist .comment-body .reply{
	padding:8px 12px;
	display:inline-block;
	font-size:13px;
	line-height:100%;
	font-weight:500;
	text-align:center;
	cursor:pointer;
	border:0px solid;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	position:absolute; 
	top:13px; 
	right:12px;}
.comment-body .boldtext{font-weight:normal; font-size:22px}

/* Comments form */
#commentform{padding:0; }
#commentform label{margin-top:0px; padding:5px 0; display:inline-block;}
#commentform .required{}
#commentform code{padding:0; margin:10px 0; border:0}

#commentform input[type=text], #commentform input[type=email]{ 
	margin-bottom:3px;
	padding:8px 5px;
	vertical-align:middle;
	width:50%;
	font-size:12px;
	display:block;
	page-break-after:always
	
	}

#commentform textarea{ 
	width:95%;
	margin-bottom:12px;
	padding:8px 5px;
	vertical-align:top;
	font-size:12px;
	display:block;
	}
	
#respond .comment-reply{
	font-size: 20px;
	line-height:24px;
	padding:0px 0px;
	margin:0 0 10px 0;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 0px 0 0;
}
.cancel-comment-reply{font-size:12px;}
h3#reply-title {
	margin: 22px 0px 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
	padding:0;
}
#cancel-comment-reply-link {
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
}
#respond label {
}
#respond input {
}
#respond textarea {
}
#respond .form-allowed-tags {
}
#respond .form-allowed-tags code {
}
#respond .form-submit {
	margin: 12px 0;
	clear:both;
}
#respond .form-submit input {
}

.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment{}
.comment-form-comment{ width:100%;}
.form-submit{ clear:both;}

/* Calendar */
.widget_calendar #wp-calendar {
	width: 98%;
	text-align:left;
	border: 0px !important;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
	text-align: center;
	padding:3px !important;
	border: 0px !important;
}
.widget_calendar #wp-calendar caption {
	font-size: 11px;
	font-weight: 800;
	padding: 5px 0 3px 0 !important;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
	font-weight: bold;
	padding:3px !important
}
.widget_calendar #wp-calendar tfoot td {
}
#today{font-weight:bold}



/*------------------------------------------------------------------
[9. Sidebar - #sidebar]
*/
.widget-title{
	font-size:13px;
	text-transform:uppercase;
	margin-bottom:15px;
	font-weight:700;
}

#sidebar ul{
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}

#sidebar ul li{
	list-style-type:none;
	margin:0;
	padding:0;
	
}
#sidebar .widget-container{margin-bottom:36px; padding:0 0 0 0;}

#sidebar li li{list-style-type:none;padding:0 0 5px 0px; margin:0 0 17px 0;border-bottom:1px solid;}

#sidebar li li a{}
#sidebar li.widget_archive li a:after, #sidebar li.widget_pages li a:after, #sidebar li.widget_categories li a:after, #sidebar li.widget_meta li a:after, #sidebar li.widget_links li a:after{content:" \2192";}
#sidebar li li a:hover, #sidebar li li a.active{text-decoration:none;}

#sidebar ul.sub-menu, #sidebar ul.children, #sidebar ul ul ul{margin:8px 0 0 15px; }
#sidebar ul.sub-menu li, #sidebar ul.children li, #sidebar ul ul ul li{margin-bottom:4px; padding-bottom:4px; background:transparent;}

/* latest post sidebar */
#sidebar .nvr-latest-post-widget li{padding:0px 0px 0px 0px; margin-bottom:18px; clear:both; background:transparent}
#sidebar .nvr-latest-post-widget li img{padding:0px; border:0px solid; width:56px; height:56px; margin-bottom:13px;}
#sidebar .nvr-latest-post-widget li a{background:transparent !important; padding:0 !important;  display:inherit}
#sidebar .nvr-latest-post-widget li h6{font-size:14px; line-height:18px; margin-bottom:5px;}
#sidebar .nvr-latest-post-widget li .smalldate{font-size:11px; display:block; font-style:italic; margin-bottom:5px;}

/* recent comment sidebar */
#sidebar .nvr-recent-comment-widget li{padding-bottom:4px; margin-bottom:10px; clear:both; background:transparent}
#sidebar .nvr-recent-comment-widget a{background:transparent !important; padding:0 !important;  display:inherit}


/* search widget */
#searchform{position:relative;}
#searchform .bgsearch{}
#searchform #s{width:auto; padding:13px;}
.widget-container #searchform #s{width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

/* tag widget */
#tag-cloud .tag{border:solid 0px;padding:5px 9px; margin:0 3px 3px 0; display:inline-block;border-radius:1px;-moz-border-radius:1px;-webkit-border-radius:1px;}
#tag-cloud .tag:hover{}


/*------------------------------------------------------------------
[10. Other Elements]
*/

/* WP-PageNavi  Plugin  */
.wp-pagenavi {clear:both; padding:0px 0 0 0;}
.wp-pagenavi a, .wp-pagenavi a:visited{
	padding:3px 0px !important;
	margin:0 8px 0 0 !important;
	display:inline-block;
	width:30px;
	height:23px;
	line-height:23px;
	padding:0px;
	text-align:center;
	border-width:1px !important;
}

.wp-pagenavi a:hover{
	padding:3px 0px !important;
	margin:0 8px 0 0 !important;
	display:inline-block;
	width:30px;
	height:23px;
	line-height:23px;
	border-width:1px!important;

}
.wp-pagenavi span.current{
	padding:3px 0px !important;
	margin:0 8px 0 0 !important;
	font-weight:normal !important;
	display:inline-block;
	width:30px;
	height:23px;
	line-height:23px;
	padding:0px;
	text-align:center;
	border-width:1px !important;
}
.wp-pagenavi .pages{
	padding:0px 10px 0 0 !important;
	margin:0 5px 0 0 !important;
	display:none;
	height:23px;
	line-height:23px;
	padding:0 15px;
	background:transparent;
	border:0px !important;

}

/* Flickr Plugin  */
#flickr {text-align:left !important; padding:0}
#flickr img {
	margin:0px!important;
	padding:0px !important;
	width:80px;
	height:80px;
	max-width:100%;
	max-height:100%;
	border:0px solid !important;
	display:block;
}
.flickr_badge_image {
	margin: 0 7px 7px 0px;
	width: 80px;
	height: 80px;
	float: left;
	background: none;
	padding: 0;
}
* html .flickr_badge_image, *+html .flickr_badge_image{display:inline !important}
.flickr_badge_image:hover{}

/* Contact Form  */

.wpcf7 p{margin-bottom:10px;}
.wpcf7 label{display:block; width:80px; float:left;}
.wpcf7 input[type="text"], .wpcf7 input[type="email"]{
	margin-top:6px;
	margin-bottom:12px;
	font-size:14px;
	padding:13px 8px;
	width:100%;
	border:0px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
.wpcf7 textarea{
	margin-top:6px;
	margin-bottom:12px;
	padding:13px 8px;
	font-size:14px;
	width:100%;
	border:0px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
.wpcf7 .label{float:left; width:70px}
.wpcf7-submit{margin:0px 0px 0px 0px !important;}



/* SHORTCODE
-------------------------------------------------------------- */
/* Dropcaps */
.dropcap1{
	display:block;
	float:left;
	font-size:34px;
	line-height:34px;
	margin:2px 8px 0 0;
}
.dropcap2{
	display: block;
	width: 40px;
	height: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	float:left;
	font-size:25px;
	line-height:40px;
	text-align: center;
	margin:0px 8px 0 0;
}
.dropcap3{
	display:block;
	float:left;
	font-size:25px;
	line-height:40px;
	width:40px;
	height:40px;
	text-align: center;
	margin:6px 8px 0 0;
}

/* Highlight */
.highlight1{padding:2px 5px;}	
.highlight2{padding:2px 5px;}

/* Icon Container */
.icn-container{
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-width:2px;
	border-style:solid;
	padding:20px;
	font-size:28px;
	line-height:28px;
	width:28px;
	height:28px;
	text-align:center;
	display:block;
}
.icn-container.type3{
	border-width:0px;
}
.icn-container.small{
	font-size:18px;
	line-height:18px;
	width:18px;
	height:18px;
}

/* Pullquotes */
.pullquote-right,.pullquote-left{
	padding:0px 10px 0px 50px;
	background-image:url(../images/quote.png); background-repeat:no-repeat; background-position:0px 0px;
	float:right;
	font-style:italic;
	font-size:16px;
	letter-spacing:0px;
	line-height:22px;
	margin:0px 2px 20px 20px;
	width:50%;
	}
.pullquote-left{float:left;margin-left:2px;margin-right:20px;}

/* Tabs */
.tabcontainer{margin:0px 0px 0px 0px; }
ul.tabs {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
	height: 45px;
	width: 100%;

}
ul.tabs li {
	float: left;
	margin: 0 0px 0 0;
	padding: 0;
	height: 43px;
	line-height: 43px;
	overflow: hidden;
	position: relative;
	font-size:16px;
	border-width:1px 1px 1px 0px;
	border-style:solid;
	-moz-box-shadow: inset 0 1px 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 1px 0 #fff;
	box-shadow: inset 0 1px 1px 0 #fff;
	
}
ul.tabs li:hover{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
ul.tabs li a {
	text-decoration: none;
	display: block;
	padding: 0 40px;
	outline: none;
}
ul.tabs li a:hover {
	text-decoration:none;
}
ul.tabs	 li.active{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {}
html ul.tabs li.active a{}
#tab-body{clear:both;}
.tab-content {padding: 20px 0px; margin-top:0px;}


/* jQuery Toggle */
h2.trigger {
	padding: 17px 5px 17px 5px;
	margin: 0 0 1px 0;
	font-size:16px;
	line-height:24px;
}
h2.trigger span {
	text-decoration: none;
	display: block;
	background-image: url(../images/toggle_close.png);
	background-repeat:no-repeat;
	background-position:right center;
	padding-right:20px;
	cursor:pointer;
}
h2.trigger .fa{margin-right:7px;}
h2.trigger img{margin-right:15px;}
h2.active{}
h2.active span{background-image: url(../images/toggle_open.png);}
h2.trigger a:hover {}
.toggle_container {
	margin: 0 0 1px 0;
	padding: 20px 25px;
	border-width: 0px 1px 1px 1px;
	border-style:solid;
	overflow: hidden;
	clear: both;
}
.toggle_container .block {
	padding: 0px;
}
.toggle_container .block p {
	padding: 5px 0;
	margin: 5px 0;
}

/* Content Title */
.contenttitle{font-size:18px; line-height:normal; margin-bottom:20px;}
.contenttitle span{}


/*------------------------------------------------------------------
[11. Testimonials]
*/
.nvr-testimonial{padding:0px;}
.nvr-testimonial ul{ margin:0px;}
.nvr-testimonial ul li{list-style-type:none; margin-left:0px; margin-top:0px; margin-bottom:20px;}
.nvr-testimonial ul li.clearfix{margin:0px;}
.testiinfo{margin:25px 0px 0px 0px; display:block; font-size:14px;}
.testiinfo .testititle{margin-bottom:2px; font-size:16px; letter-spacing:-1px;}
.nvr-testimonial blockquote{position:relative; margin:0px 0px 20px 0px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; clear:none; background-image:none; padding:15px;}
.nvr-testimonial .arrowbubble{position:absolute;bottom:-16px; left:30px; background-image:url(../images/arrowbubble.png); background-repeat:no-repeat; width:18px; height:16px; display:block;}
.nvr-testimonial blockquote.nomargin{margin-left:0px;}
.nvr-testimonial .testiimg{
	float:left;
	display:block;
	width:60px;
	height:60px;
	position:relative;
	margin-right:12px;
}
.nvr-testimonial .testiimg img{
	width:60px;
	height:60px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}


.nvr-trotating blockquote{position:relative; margin:0px 1px 20px 1px; font-size:18px; text-align:center; clear:none; background-image:none; line-height:30px;}
.nvr-trotating blockquote:before{content:open-quote;}
.nvr-trotating blockquote:after{content:close-quote;}
.nvr-trotating .testiinfo{text-align:center; margin-top:17px;}
.nvr-trotating .testiimg{
	margin:14px auto 3px;
	width:73px;
	height:73px;
	position:relative;
}
.nvr-trotating .testiimg img{
	width:73px;
	height:73px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
.nvr-trotating .flex-control-nav {bottom: 0px; text-align:right; display:none;}
.nvr-trotating .flex-control-nav li {margin: 0 3px; font-size:0px !important;}
#subbody .nvr-trotating .flex-direction-nav a.flex-prev{opacity:0.8; bottom:13px; margin-left:-90px; top:auto; left:50%;}
#subbody .nvr-trotating .flex-direction-nav a.flex-next{opacity:0.8; bottom:13px; top:auto; margin-right:-90px; right:50%;}


/*------------------------------------------------------------------
[12. People]
*/

.nvr-people{padding:0 0 0px 0; }
.nvr-people li{list-style-type:none; margin-left:0px; margin-top:0px; margin-bottom:20px;}
.nvr-people li.clearfix{margin:0px !important; padding:0px !important;}
.nvr-people .alpha{clear:both;}
.nvr-people .peopleinfo{margin:6px 0px 0px 0px; display:block; text-align:center; text-transform:none; font-size:15px;}
.nvr-people .peopletitle{padding:14px 0px 11px 0px; position:relative; text-align:center; text-transform:uppercase;}
.nvr-people .hborder{position:absolute; bottom:0px; left:50%; width:34px; margin-left:-17px; height:3px;}
.nvr-people .peoplecontent{padding:12px; text-align:center;}
.nvr-people blockquote.nomargin{margin-left:0px;}
.nvr-people .peoplecontainer{transition:background-color 1s; -moz-transition:background-color 1s; -webkit-transition:background-color 1s; -o-transition:background-color 1s;}
.nvr-people .imgcontainer{ display:block; position:relative;transition:background-color 1s; -moz-transition:background-color 1s; -webkit-transition:background-color 1s; -o-transition:background-color 1s; }
.nvr-people .imgcontainer img{margin:0px auto; display:block; opacity:1;transition:opacity 1s; -moz-transition:opacity 1s; -webkit-transition:opacity 1s; -o-transition:opacity 1s;}
.nvr-people li:hover .imgcontainer img{opacity:0;}
.nvr-people .peoplesocial{text-align:center; width:100%; position:absolute; left:0px; top:50%; z-index:100; margin-top:-33px; opacity:0; transition:opacity 1s; -moz-transition:opacity 1s; -webkit-transition:opacity 1s; -o-transition:opacity 1s;}
.nvr-people li:hover .peoplesocial{opacity:1;}
.nvr-people .peoplesocial a{display:inline-block; width:66px; height:66px; line-height:66px; font-size:24px; margin:0px 3px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
.nvr-people .peoplesocial img{display:block;}

/* Mini Sliders*/
.minisliders .titlecontainer{border-top:1px solid;}
.minisliders .contenttitle{text-align:center; font-size:24px; letter-spacing:-1px; font-weight:300; line-height:100%; margin:-14px 0px 22px; padding-bottom:0px;}
.minisliders .contenttitle span{padding:0px 22px;}
.minisliders .flex-control-nav{display:none;}
.minisliders .flex-direction-nav a{
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	width:36px;
	height:36px;
	opacity:0;
	transition: opacity ease-out 0.25s;
	-moz-transition: opacity ease-out 0.25s;
	-webkit-transition: opacity ease-out 0.25s;
	-o-transition: opacity ease-out 0.25s;
}
.minisliders .flex-direction-nav a.flex-prev{left:20px;}
.minisliders .flex-direction-nav a.flex-next{right:20px;}
/*  Recent Post Shortcode  */
.rp-shortcode{margin:0; padding:0; float:left}
.rp-shortcode h3{font-size:14px; line-height:20px; margin-bottom:8px ;}
.rp-shortcode .smalldate{font-size:11px; font-style:italic; display:block; padding-bottom:10px;}


/*------------------------------------------------------------------
[13. Portfolio]
*/
.nvr-pf-container{margin-bottom:20px}
.nvr-pf-container li{
	position:relative; 
}
.nvr-pf-container .first, .nvr-pf-container .alpha{clear:both;}
.nvr-pf-clear{clear:both; height:0px !important; float:none!important}
.nvr-pf-box{
	transition: background-color ease-out 0.25s, border ease-out 0.25s;
	-moz-transition: background-color ease-out 0.25s, border ease-out 0.25s;
	-webkit-transition: background-color ease-out 0.25s, border ease-out 0.25s;
	-o-transition: background-color ease-out 0.25s, border ease-out 0.25s;
}
.nvr-pf-text{padding:13px 0px 0px; text-align:left;}
.nvr-pf-text .nvr-pf-title{font-size:16px; text-transform:uppercase; font-weight:300; line-height:20px;margin:0px; padding:0px 0px 8px 0px; display:block;}
.nvr-pf-text .nvr-pf-title a{
	transition: color ease-out 0.25s;
	-moz-transition: color ease-out 0.25s;
	-webkit-transition: color ease-out 0.25s;
	-o-transition: color ease-out 0.25s;
}
.nvr-pf-text .nvr-pf-cat{margin-bottom:5px;}

.nvr-pf-text p{margin:12px 0px;}
.nvr-pf-separator{clear:both; height:1px; width:71px; margin-bottom:6px; background-color:#e0e0e0;}
.nvr-pf-text .nvr-pf-content{ font-size:13px;}
.nvr-pf-img{position:relative;overflow:hidden; background-image:url(../images/pf-loader.gif); background-repeat:no-repeat; background-position:center;}
.nvr-pf-img p{margin:0px;}
.nvr-noimage{display:block;width:100%;height:199px; background-image:url(../images/noimage.png); background-repeat:no-repeat; background-position:center;}
.nvr-pf-img a.image, div.frameimg a.image{
	display:block;
	position:absolute;
	overflow:hidden;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	background-repeat:no-repeat;
	background-position:center;
	top:50%;
	left:-10%;
	width:59px;
	height:59px;
	margin-top:-30px;
	cursor:pointer;
	z-index:200;
}
.nvr-pf-img div.rollover, div.frameimg div.rollover{
	width:100%;
	height:100%;
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	cursor:pointer;
	z-index:200;
	opacity:0;
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
}
.nvr-pf-img a.zoom, div.frameimg a.zoom{
	background-image:url(../images/hover-zoom.png)!important;
	left:110%;
	margin-left:5px;
}
.nvr-pf-img a.gotolink, div.frameimg a.gotolink{
	background-image:url(../images/hover-link.png) !important;
	margin-left:-68px;
}
.nvr-pf-img a.gotopost, div.frameimg a.gotopost{
	background-image:url(../images/hover-doc.png) !important;
	margin-left:-68px;
}
.nvr-pf-img .img_grayscale{
	-moz-box-shadow: inset 0 0 10px -1px #000;
	-webkit-box-shadow: inset 0 0 10px -1px #000;
	box-shadow: inset 0 0 10px -1px #000;
}
.pf-clear{clear:both; visibility:hidden; margin:0px !important;}
.nvr-pf-img h2{
	position:absolute;
	bottom:30px;
	z-index:200;
	width:0%;
	font-weight:bold;
	text-align:center; 
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
	line-height:100%;
	padding:7px 0px 8px;
	letter-spacing:-1px;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 1px 4px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 1px 4px rgba(0, 0, 0, 0.75);
}
.nvr-pf-col-2, .nvr-pf-col-3, .nvr-pf-col-4{padding:0; margin:0;}
.nvr-pf-col-2 li, .nvr-pf-col-3 li, .nvr-pf-col-4 li{list-style-type:none;}
.nvr-pf-col-2 .nvr-pf-img img, .nvr-pf-col-3 .nvr-pf-img img, .nvr-pf-col-4 .nvr-pf-img img{display:block;}

/*======= Portfolio 2 Column =======*/
.nvr-pf-col-2 li{margin-bottom:43px;}

/*======= Portfolio 3 Column =======*/
.nvr-pf-col-3 li{margin-bottom:41px;}
.nvr-pf-col-3 h2{}

/*======= Portfolio 4 Column =======*/
.nvr-pf-col-4 li{margin-bottom:38px;}
.nvr-pf-col-4 h2 a{}

.nvr-pf-container .masonry .columns{padding:1px !important; margin:0px !important;}
.nvr-pf-container .masonry .free.columns.imgsize-landscape{max-width:50%;}
.nvr-pf-container .masonry .free.columns{max-width:25%;}
.nvr-pf-container .masonry .nvr-pf-box{border:0px !important; position:relative; overflow:hidden;}
.nvr-pf-container .masonry .nvr-pf-img a.image, .nvr-pf-container .masonry div.frameimg a.image{
	margin-top:10px;
}
.nvr-pf-container .masonry .nvr-pf-text{
	position:absolute; 
	bottom:105%; 
	width:100%; 
	left:0px; 
	z-index:201; 
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	transition: bottom ease-out 0.5s;
	-moz-transition: bottom ease-out 0.5s;
	-webkit-transition: bottom ease-out 0.5s;
	-o-transition: bottom ease-out 0.5s;
}
.nvr-pf-container .masonry .nvr-pf-box:hover .nvr-pf-text{bottom:50%;}
.nvr-pf-container .masonry .nvr-pf-title{ padding-bottom:2px; text-align:center;}
.nvr-pf-container .masonry .nvr-pf-cat{text-align:center;}
.nvr-pf-container .masonry .nvr-pf-separator, .nvr-pf-container .masonry .nvr-pf-content{display:none;}

.nvr-pf-container .grid .columns{padding:1px !important; margin:0px !important;}
.nvr-pf-container .grid .nvr-pf-box{border:0px !important; position:relative; overflow:hidden;}
.nvr-pf-container .grid .nvr-pf-text{
	position:absolute; 
	bottom:-100px; 
	width:100%; 
	left:0px; 
	z-index:201; 
	padding:16px 0px 13px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	-moz-box-shadow: 0 0 1px 0 #000; 
	-webkit-box-shadow: 0 0 1px 0 #000; 
	box-shadow: 0 0 1px 0 #000; 
	transition: bottom ease-out 0.25s;
	-moz-transition: bottom ease-out 0.25s;
	-webkit-transition: bottom ease-out 0.25s;
	-o-transition: bottom ease-out 0.25s;
}
.nvr-pf-container .grid .nvr-pf-box:hover .nvr-pf-text{bottom:0px;}
.nvr-pf-container .grid .nvr-pf-title{ padding-bottom:2px; text-align:center;}
.nvr-pf-container .grid .nvr-pf-cat{text-align:center;}
.nvr-pf-container .grid .nvr-pf-separator, .nvr-pf-container .grid .nvr-pf-content{display:none;}

/* PORTFOLIO FILTER */
#filters{margin:0 0 42px 0; padding:0px; border-bottom:0px solid; text-align:center;}
#filters li{
	display:inline-block;
	padding:0px 11px 7px;
	list-style-type:none;
	text-transform:uppercase;
	font-family:'Montserrat', sans-serif;
	font-size:14px;
	line-height:14px;
	background-position:center;
	background-repeat:no-repeat;
	margin:0px 4px 8px;
	border-width:0px 0px 3px 0px;
	border-style:solid;
	cursor:pointer;
	transition: border-color ease-out 0.25s;
	-moz-transition: border-color ease-out 0.25s;
	-webkit-transition: border-color ease-out 0.25s;
	-o-transition: border-color ease-out 0.25s;
}
ul#nvr-pf-filter.nvr-pf-col-2 li{margin-bottom:41px;}
ul#nvr-pf-filter.nvr-pf-col-3 li{margin-bottom:41px;}
ul#nvr-pf-filter.nvr-pf-col-4 li{margin-bottom:38px;}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** PORTFOLIO AJAX ****/
.portfolio-ajax-holder{display:none;}
.nvrflippage .portfolio-ajax-holder{display:none; position:fixed; width:100%; top:0px; bottom:0px; left:0px; z-index:1010; background-color:#fff; overflow:hidden;}
.portfolio-ajax-holder.preloader{background-image:url(../images/pf-loader.gif); background-repeat:no-repeat; background-position:center center;}
.btnajax{width:30px; height:30px; line-height:30px; text-align:center; font-size:18px; display:block; margin:20px auto 0px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; border:1px solid #BFBFBF; color:#BFBFBF !important;}
.nvrflippage .btnajax{margin-top:38px;}
.btnajax:hover{border:1px solid #333; color:#333 !important;}
#portfoliocontent .bordertitle{margin-bottom:20px;}
#portfoliocontent .posttitle{font-size:24px; line-height:24px; font-weight:700; text-transform:uppercase; margin-bottom:8px;}
#portfoliocontent .nvr-pf-cat{text-align:center; font-size:14px; margin-bottom:28px;}
/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}


/*SHORTCODE - Custom
-------------------------------------------------*/
.bigtext{font-size:37px; font-weight:300; letter-spacing:-2px; text-align:center; line-height:110%;margin-bottom:10px;}
.secondarytext{font-size:24px; font-weight:300; text-align:center; letter-spacing:0px; line-height:100%; font-style:italic;display:block;}
.counters{font-size:60px; font-weight:700; letter-spacing:-2px; line-height:110%;}
.nvr-heading{position:relative; margin-bottom:20px; padding-bottom:20px;}
.nvr-heading *{text-align:center;}
.nvr-heading.left *{text-align:left;}
.nvr-heading.right *{text-align:right;}
.nvr-heading h1{margin:0px;}
.nvr-heading h2{margin:0px;}
.nvr-heading h3{margin:0px;}
.nvr-heading h4{margin:0px;}
.nvr-heading h5{margin:0px;}
.nvr-heading h6{margin:0px;}
.nvr-heading .hborder{position:absolute; bottom:0px; left:50%; width:170px; margin-left:-85px; height:1px;}
.nvr-heading.small .hborder{position:absolute; bottom:0px; left:50%; width:80px; margin-left:-40px;}
.nvr-heading.left .hborder{left:0px; margin-left:0px;}
.nvr-heading.right .hborder{left:auto; right:0px; margin-left:0px;}

.flexslider-carousel ul.slides{direction:ltr;}
.flexslider-carousel ul.slides li{direction:ltr; margin-right:0px;}
.brand{padding:10px 0px; border-width:1px 0px; border-style:solid;}
.brand .flexslider-carousel ul.slides li .cr-item-container{margin:0px 10px;}
.pcarousel.haslink{padding-top:90px; position:relative;}
.pcarousel.haslink > a.pclink{width:150px; box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; text-align:center; position:absolute; top:0px; left:50%; margin-left:-91px;}
#subbody .pcarousel.haslink .flex-direction-nav a{
	transition: margin ease-out 0.5s;
	-moz-transition: margin ease-out 0.5s;
	-webkit-transition: margin ease-out 0.5s;
	-o-transition: margin ease-out 0.5s;
}
#subbody .pcarousel.haslink .flex-direction-nav a.flex-prev {top:-92px; left: 50%; margin-left:-126px; margin-top:0px; opacity:1;}
#subbody .pcarousel.haslink .flex-direction-nav a.flex-next {top:-92px; right: 50%; margin-right:-126px;margin-top:0px; opacity:1;}
#subbody .pcarousel.haslink .flex-direction-nav a.flex-prev:hover {margin-left:-136px;}
#subbody .pcarousel.haslink .flex-direction-nav a.flex-next:hover {margin-right:-136px;}

.flexslider-carousel ul.slides li div.nvr-pf-box{padding: 1px !important; margin: 0px !important;}
.flexslider-carousel ul.slides li img{}
.flexslider-carousel ul.slides .nvr-pf-box{border:0px !important; position:relative; overflow:hidden;}
.flexslider-carousel ul.slides .nvr-pf-img a.image, .flexslider-carousel ul.slides div.frameimg a.image{
	margin-top:10px;
}
.flexslider-carousel ul.slides .nvr-pf-text{
	position:absolute; 
	bottom:105%; 
	width:100%; 
	left:0px; 
	z-index:201; 
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	transition: bottom ease-out 0.5s;
	-moz-transition: bottom ease-out 0.5s;
	-webkit-transition: bottom ease-out 0.5s;
	-o-transition: bottom ease-out 0.5s;
}
.flexslider-carousel ul.slides .nvr-pf-box:hover .nvr-pf-text{bottom:50%;}
.flexslider-carousel ul.slides .nvr-pf-title{ padding-bottom:2px; text-align:center;}
.flexslider-carousel ul.slides .nvr-pf-cat{text-align:center;}
.flexslider-carousel ul.slides .nvr-pf-separator, .flexslider-carousel ul.slides .nvr-pf-content{display:none;}


.flexslider-carousel{position:relative; padding:0px 0px 0px 0px;}
.flexslider-carousel .flex-viewport{direction:ltr;}
.flexslider-carousel .flex-control-nav{bottom:0px; text-align:center;font-size:0px;display:none;}
.flexslider-carousel .flex-control-nav li{margin:0px 3px;}
.flexslider-carousel .flex-direction-nav a{
	width:36px;
	height:36px;
	z-index:100;
	opacity:0;
	top:85px;
	transition: opacity ease-out 0.25s;
	-moz-transition: opacity ease-out 0.25s;
	-webkit-transition: opacity ease-out 0.25s;
	-o-transition: opacity ease-out 0.25s;
}
.flexslider-carousel:hover a.flex-prev, .flexslider-carousel:hover a.flex-next{opacity:1;}
.flexslider-carousel .flex-direction-nav a.flex-prev{
	left:-23px;
}
.flexslider-carousel .flex-direction-nav a.flex-next{
	right:-23px;
}

.nvr-recentposts li{list-style-type:none;}
.nvr-recentposts li.alpha{clear:both;}
.nvr-recentposts li div.rp-item-container{background:#fff; border:1px solid #dedee0; margin-bottom:20px;}
.nvr-recentposts h4, .nvr-recentposts .entry-utility{margin-bottom:13px; padding-left:0px; padding-right:0px;}

.nvr-recentposts .nvr-rp-text{padding:15px;}

.brand .flexslider-carousel .flex-direction-nav a{
	top:50%;
	margin-top:-18px;
}
.flexslider-carousel h3{font-weight:500;margin:12px 0px 4px; text-align:left;font-size:14px; letter-spacing:0px;}

/* Portfolio Carousel */
ul.listcarousel{padding:0px; margin:0px;}
ul.listcarousel li{list-style-type:none;padding:0px;}

/* Meter */
.metercontainer h5 span{float:right;}
div.meter{
	clear:both;
	max-width:100%;
	margin:0px;
}
div.meter div{
	text-align:right;
	height:5px;
}

/* Hosting Table */
.hostingtable{text-align:center; padding:18px 0px;}
.hostingtitle{padding:15px 10px 0px;}
.hostingtitle h4{margin:0px; font-size:20px; font-weight:700;}
.hostingicon{padding-top:15px;}
.hostingicon i{width:70px; height:70px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; line-height:70px; font-size:24px; text-align:center; margin:0px auto; display:block;}
.hostingprice{font-size:16px; line-height:normal; padding:25px 0px 22px; font-family:'Montserrat',sans-serif; margin-bottom:12px; text-transform:uppercase;}
.hostingborder{width:34px; height:3px; margin:0px auto; }
.hostingcontent{padding:34px 0px 9px;}
.hostingcontent ul{padding:0px; margin:0px;}
.hostingcontent ul li{padding:0px 0px 14px 0px; margin:0px 0px 11px 0px; text-align:center; width:100%; display:block;}
.hostingbutton{padding:21px 0px 0px 0px;}

/* AFTER CONTENT*/
#outeraftercontent{padding:30px 0px 32px 0px;background-repeat:repeat; background-position:center; background-color:transparent;}

/*------------------------------------------------------------------
[14. Footer]
*/
/*#footerwrapper{background-repeat:repeat; background-position:top center; background-color:#252525;}*/
#footerwrapper{background-image:url(../images/content/bg-footer.jpg); background-size:cover; }
#footersidebar{padding:70px 0 30px 0; font-size:14px;}
#footersidebar ul{list-style-type:none; margin:0; padding:0;}
#footersidebar li.widget-container{list-style-type:none; margin:0 0 40px 0; padding:0; border:0px;}
#footersidebar .widget-title{padding:0; line-height:22px; margin-bottom:25px !important; font-size:20px; letter-spacing:0px; text-transform:none; font-weight:700; text-align:center;}
#footersidebar li li{ padding:0px; margin:0 0 8px 0;list-style-type:none; }
#footersidebar li a{ padding:0px; margin:0px;}
#footersidebar li a:hover{ text-decoration:none;}

#footersidebar ul.sub-menu, #footersidebar ul.children, #footersidebar ul ul ul{margin:0 0 0 10px; }
#footersidebar ul.sub-menu li, #footersidebar ul.children li, #footersidebar ul ul ul li{margin-bottom:2px; padding-bottom:2px; background:transparent;}

/* recent post footer sidebar */
#footersidebar .nvr-latest-post-widget li{padding:0px 0px 10px 0px; margin-bottom:12px; clear:both; background:transparent}
#footersidebar .nvr-latest-post-widget li img{padding:0px; border:0px solid; width:56px; height:56px; margin-bottom:0px;}
#footersidebar .nvr-latest-post-widget li h6{font-size:13px; line-height:18px; margin-bottom:0px}
#footersidebar .nvr-latest-post-widget li .smalldate{font-size:11px; display:block;}

/* recent comment footer sidebar */
#footersidebar .nvr-recent-comment-widget li{clear:both; background:transparent}
#footersidebar .nvr-recent-comment-widget a{background:transparent !important; padding:0 !important;  display:inherit}


.sn{margin:0; padding:0; float:left;}
.sn li{list-style-type:none; height:32px; width:32px; list-style-type:none; margin:0px 2px 0px; padding:0px; float:right;}
.sn a{display:inline-block; line-height:30px; width:30px; text-align:center; font-size:22px; text-decoration:none !important; font-weight:300;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	transition: color 0.5s, border-color 0.5s, background-color 0.5s;
	-moz-transition: color 0.5s, border-color 0.5s, background-color 0.5s; /* Firefox 4 */
	-webkit-transition: color 0.5s, border-color 0.5s, background-color 0.5s; /* Safari and Chrome */
	-o-transition: color 0.5s, border-color 0.5s, background-color 0.5s; /* Opera */
}
.icon-img{background-position:0px 0px; background-repeat:no-repeat;}

/*** FOOTER ***/
#footer{font-size:14px;}
.copyrightcontainer{padding:36px 0px 36px 0;}
#footer .copyright{float:left; padding-top:6px;}
#footer a, #footer a:visited{ font-weight:300;}

#footericon{float:right;}

/*** SCROLL EFFECT ***/
.element_from_top {
	top: -50px;
	padding-right: 0px;
	opacity: 0;
	position: relative;
}
.element_from_bottom {
	bottom: -50px;
	padding-left: 0px;
	opacity: 0;
	position: relative;
}
.element_from_left {
	left: -80px;
	padding-right: 0px;
	opacity: 0;
	position: relative;
}
.element_from_right {
	right: -80px;
	padding-left: 0px;
	opacity: 0;
	position: relative;
}
.element_fade_in {
	opacity: 0;
	position: relative;
	padding-left: 0px;
	right: 0px;
}

/*CUSTOM CSS*/
.contact_email{list-style-type:none; background-image:url(../images/icons/address/email.png); background-repeat:no-repeat; background-position:0px 6px !important;border:0px !important; padding:0px 0px 0px 20px; font-weight:bold;}
.contact_address{list-style-type:none; background-image:url(../images/icons/address/home.png); background-repeat:no-repeat; background-position:0px 3px !important;border:0px !important; padding:0px 0px 0px 20px; font-weight:bold;}
.contact_mobile{list-style-type:none; background-image:url(../images/icons/address/mobile.png); background-repeat:no-repeat; background-position:0px 3px !important;border:0px !important; padding:0px 0px 0px 20px; font-weight:bold;}
#aboutslider, machineslider{width:100%;}
#aboutslider .flex-control-nav, #machineslider .flex-control-nav{height:9px;bottom:-20px;}
#aboutslider .flex-control-nav a, #machineslider .flex-control-nav a{width:9px;height:9px;background-image:url(../images/sliderdot.png); background-repeat:no-repeat; background-position:0px 0px;margin:0px 4px;}
#aboutslider .flex-control-nav a:hover, #aboutslider .flex-control-nav a.active, #machineslider .flex-control-nav a:hover, #machineslider .flex-control-nav a.active{background-position:0px -10px;}
#aboutslider img{-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
#nav_menu-2{position:relative;}
/* list */
ul.customlist{padding:0px;margin:0px;}
ul.customlist li{padding:0px;margin:0px 0px 5px 0px; list-style-type:none;}
.nvr_selector{text-align:left; position:relative; margin-right:50px; cursor:pointer; background-image:url(../images/selector.png); background-repeat:no-repeat; background-position:right; }
.nvr_selector:hover{cursor:pointer;}
.nvr_selector span{font-size:18px; line-height:28px;padding-left:15px;cursor:pointer;}
.nvr_selector select{font-size:18px; position:absolute !important; top:0px; left:0px; -moz-opacity: 0; opacity:0 !important; filter: alpha(opacity=0); cursor:pointer;}
ul.timeline li{
	margin:0px;
	list-style-type:none;
	padding:0px 0px 20px 0px;
	background-image:url(../images/timeline.gif);
	background-repeat:repeat-y;
	background-position:top left;
}
ul.timeline.right li{
	background-position:top right;
}
ul.timeline li.last{
	background:none;
	padding:0px;
}
.headlinebox{padding:25px;}
.entry-content > .wpb_row:last-child{margin-bottom:0px;}
.stripecontainer{
	width: 100%;
	padding: 0px 1000px 0px;
	margin-left: -1000px;
	margin-bottom:35px;
	overflow: hidden;
	position:relative;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(218,222,225,0.86);
	box-shadow: inset 0px 0px 0px 1px rgba(218,222,225,0.86);
	background-position:center center;
}
.entry-content > .stripecontainer:last-child{margin-bottom:0px;}
.stripewrapper{
	z-index:20;
	position:relative;
}
.stripecontainer > .stripewrapper > div.wpb_row:last-child{padding:50px 0px; margin-bottom:0px;}
.nvr.vc_text_separator {margin-bottom:55px;padding-top:20px;}
.nvr.vc_text_separator div {
	padding: 10px 15px;
	position: relative;
	top: -20px;
	font-size:14px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}







#megaMenu ul.megaMenu > li.menu-item > a, #megaMenu ul.megaMenu > li.menu-item > span.um-anchoremulator{font-family:Arial, Helvetica, sans-serif;}
body.novaro .fa, body.novaro .fa:before, body.novaro .fa:after{box-sizing:content-box !important; -moz-box-sizing:content-box !important; -webkit-box-sizing:content-box !important;}
.ps-container .ps-scrollbar-y-rail, .ps-container .ps-scrollbar-y{z-index:100;}






body.overflow-hidden {
  /* when author bio is visible, the out-of-focus content won't scroll */
  overflow: hidden;
}

a {
  color: #f25f5c;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
main {
  position: relative;
  z-index: 2;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
main.slide-out {
  /* the main element slides to the left when the author bio is visible */
  -webkit-transform: translateX(-270px);
  -moz-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  -o-transform: translateX(-270px);
  transform: translateX(-270px);
}
main.slide-out .cd-overlay {
  /* the overlay layer gets visible when the author bio slides in */
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}
@media only screen and (min-width: 768px) {
  main.slide-out {
    /* change in size of the author bio section */
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    -ms-transform: translateX(-600px);
    -o-transform: translateX(-600px);
    transform: translateX(-600px);
  }
}
@media only screen and (min-width: 1200px) {
  main.slide-out {
    -webkit-transform: translateX(-800px);
    -moz-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    -o-transform: translateX(-800px);
    transform: translateX(-800px);
  }
}

.cd-section {
  padding: 2em 0;
  text-align: center;
}
.cd-section .cd-container {
  /* this modifies the .cd-container default max-width */
  max-width: 768px;
}
.cd-section h2 {
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-size: 20px;
  font-size: 1.25rem;
}
.cd-section p {
  line-height: 1.4;
}
@media only screen and (min-width: 768px) {
  .cd-section {
    padding: 4em;
  }
  .cd-section p {
    line-height: 1.6;
  }
}
@media only screen and (min-width: 1200px) {
  .cd-section {
    padding: 6em;
  }
  .cd-section h2 {
    margin-bottom: 2em;
  }
  .cd-section p {
    line-height: 1.8;
    font-size: 18px;
    font-size: 1.125rem;
  }
}

header {
  background: #f2ecbd;
}
header h1 {
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .4em;
  color: #3e380c;
}
header p {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #93861d;
}

.cd-placeholder-1 {
  background: #f25f5c;
  color: #fdeaea;
}

.cd-placeholder-2 {
  background: #FFF;
}

#cd-team {
  background: #8abeb2;
}
#cd-team .cd-container {
  max-width: 1200px;
}
#cd-team h2 {
  color: #1a2f2a;
}
#cd-team li {
  margin-bottom: 2em;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(92, 75, 81, 0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.no-touch #cd-team li:hover {
  box-shadow: 0 0 10px rgba(92, 75, 81, 0.3);
}
.no-touch #cd-team li:hover .cd-img-overlay {
  opacity: 1;
}
#cd-team figure {
  position: relative;
}
#cd-team img {
  display: block;
  width: 100%;
  border-radius: .25em .25em 0 0;
}
#cd-team .cd-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(92, 75, 81, 0.9);
  opacity: 0;
  border-radius: .25em .25em 0 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#cd-team .cd-img-overlay span {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #FFF;
}
#cd-team .cd-member-info {
  height: 80px;
  background: #FFF;
  text-align: center;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  border-radius: 0 0 .25em .25em;
}
#cd-team .cd-member-info span {
  display: block;
  font-family: "Droid Serif", serif;
  font-weight: normal;
  color: #999999;
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: .5em;
}
@media only screen and (min-width: 768px) {
  #cd-team li {
    width: 31%;
    float: left;
    margin-right: 3.5%;
  }
  #cd-team li:nth-child(3n) {
    margin-right: 0;
  }
}

.cd-member-bio {
  position: fixed;
  top: 0;
  right: 0;
  width: 270px;
  height: 100%;
  overflow-y: auto;
  /* smooth scrolling on mobile phones and tablets */
  -webkit-overflow-scrolling: touch;
  background: #5c4b51;
  z-index: 1;
  /* this how we move the author bio section off the canvas */
  -webkit-transform: translateX(270px);
  -moz-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-member-bio.slide-in {
  /* the author bio section slides in when the user clicks on the team member picture */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-member-bio .cd-member-bio-pict {
  position: relative;
}
.cd-member-bio .cd-member-bio-pict::after {
  /* gradient at the bottom of the image - same color of the background of the section */
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: -webkit-linear-gradient( bottom , #5c4b51, rgba(92, 75, 81, 0));
  background: linear-gradient(to top, #5c4b51, rgba(92, 75, 81, 0));
}
.no-cssgradients .cd-member-bio .cd-member-bio-pict::after {
  display: none;
}
.cd-member-bio img {
  width: 100%;
  display: block;
}
.cd-member-bio .cd-bio-content {
  padding: 1em;
  color: #FFF;
}
.cd-member-bio .cd-bio-content h1 {
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
}
.cd-member-bio .cd-bio-content p {
  font-size: 14px;
  font-size: 0.875rem;
  margin: 1em 0;
  line-height: 1.4;
  color: #d7cfd2;
}
@media only screen and (min-width: 768px) {
  .cd-member-bio {
    width: 600px;
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -o-transform: translateX(600px);
    transform: translateX(600px);
  }
  .cd-member-bio .cd-bio-content {
    padding: 2em;
  }
  .cd-member-bio .cd-bio-content p {
    line-height: 1.6;
    margin: 2em 0;
  }
}
@media only screen and (min-width: 1200px) {
  .cd-member-bio {
    width: 800px;
    -webkit-transform: translateX(800px);
    -moz-transform: translateX(800px);
    -ms-transform: translateX(800px);
    -o-transform: translateX(800px);
    transform: translateX(800px);
  }
  .cd-member-bio .cd-member-bio-pict::after {
    height: 150px;
  }
  .cd-member-bio .cd-bio-content {
    padding: 4em;
    /* we move the content up so the title is over the color gradient */
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  .cd-member-bio .cd-bio-content h1 {
    font-size: 40px;
    font-size: 2.5rem;
  }
  .cd-member-bio .cd-bio-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .no-cssgradients .cd-member-bio .cd-bio-content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

.cd-member-bio-close {
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 10px;
  background: url("../img/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 3;
  display: none;
}
.cd-member-bio-close.is-visible {
  display: block;
  -webkit-animation: cd-move-in 0.8s;
  -moz-animation: cd-move-in 0.8s;
  animation: cd-move-in 0.8s;
}
@media only screen and (min-width: 1200px) {
  .cd-member-bio-close {
    right: 20px;
    top: 20px;
  }
}

.cd-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(138, 190, 178, 0.8);
  cursor: pointer;
  display: none;
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-move-in {
  0% {
    -moz-transform: translateX(100px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
